<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{master-form}">

	<div layout:fragment="breadcrumb">
		<h1>CMO Issue for New Connection</h1>
		<ol class="breadcrumb">
			<li><a href="#" th:href="@{/}"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">CMO Issue for New Connection</li>
		</ol>
	</div>

	<div layout:fragment="panel-header">
		<div class="form-panel-heading">
			<div class="row">

				<div th:if="${applicationInformation.id != null}"
					class="col-sm-11 panel-title pt-1 pull-left text-letf">
					<a href="/" class="btn btn-primary mr-1"><span
						class="fa fa-arrow-left"></span></a> CMO Issue for New Connection of
					Tracking No. #<span
						th:text="${applicationInformation.trackingNumber}"></span>
				</div>

				<div class="col-sm-1 pull-right text-right">
					<a href="/" class="btn btn-primary"><span
						class="fa fa-times-circle"></span></a>
				</div>
			</div>

		</div>
	</div>
	<div layout:fragment="panel-content">
		<!-- <div th:include="role/addForm"></div> -->
		<div class="card border-primary box box-primary">
		
			<div th:if="${message != null}"
				class="panel panel-default fade in collapse alert alert-info"
				style="margin: 10px; padding: 5px;" id="idMessagePanel">
				<div>
					<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
					</a>
				</div>
				<div class="panel-body" th:text="${message}"></div>
			</div>

			<div class="with-border">
				<div class="">
					<div class="box-body">
						<div class="">
							<form role="form" th:action="@{/officer/prepareCMO}"
								method="post" th:object="${ncCmoInformation}"
								enctype="multipart/form-data" class="needs-validation"
								novalidate id="form">

								<div class="text-right">
									<div class="btn-group" role="group">
										<a th:if="${ncCmoInformation.id != null}"
											class="btn btn-default mr-1" data-toggle="modal"
											data-target="#exampleModal" title="Submit to Officer"><span
											class="fa fa-forward mr-1 text-primary"></span> Forward</a>
										<button th:if="${allMeterFound == 'Yes'}"
										class="btn btn-default mr-1" type="submit"
											name=btnSubmit id="btnSubmit" value="SaveReload"
											title="Save & Reload">
											<i class="fa fa-floppy-o mr-1 text-primary"></i>Save
										</button>
										<!-- <a th:if="${ncCmoInformation.id != null}" href="#"
											class="btn btn-default mr-1 btn-delete"
											th:href="@{/officer/deletePreparedCMO(id=*{id})}"
											title="Delete CMO Information"><span
											class="fa fa-trash mr-1 text-danger"></span> Delete</a>  -->
										<a
											th:if="${ncCmoInformation.id != null}" href="#"
											class="btn btn-default mr-1"
											th:href="@{/officer/viewCMODashboardReport(id=${ncCmoInformation.id})}"
											title="View CMO Information"><span
											class="fa fa-eye mr-1 text-danger"></span> CMO</a>
									</div>

									<!-- Modal -->
									<div class="modal fade text-left" id="exampleModal">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<i class="fa fa-times"></i>
													</button>
													<h5 class="modal-title" id="removeModalCenterTitle">Confirmation</h5>
												</div>
												<div class="modal-body ui-dialog-content">
													<div class="dialog-message">Do you want to forward this application?</div>
												</div>
												<div class="modal-footer">

													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">No</button>
													<button type="button" onClick="openOfficerSearchModal();"
														class="btn btn-primary" title="Submit this application">Yes</button>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="" style="margin-top: 5px">

									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<label for="trackingNumber">Tracking Number*</label> <input
													type="text"
													th:value="${applicationInformation.trackingNumber}"
													th:name="trackingNumber" class="form-control" readonly
													th:id="trackingNumber" placeholder="auto generated" />
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label for="cmoNumber" class="val-required">CMO
													Number</label> <input type="text" th:value="${cmoNumber}"
													th:name="cmoNumber" class="form-control" required
													th:id="cmoNumber" placeholder="auto generated" readonly />
												<label class="control-label error-label"
													th:if="${#fields.hasErrors('cmoNumber')}"
													th:errors="*{cmoNumber}"> Error </label>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label for="preparationDate" class="val-required">CMO
													Issue Date</label>
												<div class='input-group date' id='inspectionDate'>
													<input type='text' class="form-control"
														th:value="${#dates.format(#dates.createNow(),'dd-MM-yyy')}"
														th:id="preparationDate" th:name="preparationDate" required
														autocomplete="off" /> <span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>

									<fieldset class="col-md-12">
										<legend>Connection List </legend>

										<div class="table-responsive">
											<table data-toolbar="#toolbar"
												class="table table-bordered table-hover" 
												id="exportTable" data-resizable="true"
												data-click-to-select="true">
												<thead>
													<tr class="bg-secondary">
														<th>Tracking Serial</th>
														<th>Applicant Name</th>
														<th>Mobile</th>
														<th style="width: 5%;">Previous Load (KW)</th>
													<th style="width: 5%;">Applied Load (KW)</th>
													<th style="width: 5%;">Approved Load (KW)</th>
														<th>Meter Number</th>
														<th>Consumer Account No.</th>
														<th>Meter Status</th>
													</tr>
												</thead>
												<tbody id="myTable">
													<div th:each="st,iter : ${connectionList}">
														<tr>
															<td th:text="${st.trackingSerialNumber}">Tracking
																Serial</td>
															<td th:text="${st.name}">Name</td>
															<td th:text="${st.mobile}">Mobile</td>
															<td th:text="${st.previousLoad}" class="text-right">Load</td>
															<td th:text="${st.load}" class="text-right">Load (KW)</td>
															<td th:text="${recommendedLoads[iter.index].recommendedLoad}" class="text-right">Load (KW)</td>
															<td th:text="${st.meterNumber}"></td>
															<td><input type="text" th:name="consumerAccountNo"
																th:value="${st.consumerAccountNo}"
																class="form-control text-center"
																th:id="consumerAccountNo" placeholder="auto generated"
																readonly /> <input type="hidden"
																th:name="trackingSerialNumber"
																th:value="${st.trackingSerialNumber}"
																class="form-control" required
																th:id="trackingSerialNumber"
																placeholder="auto generated" /></td>
															<td><select
																class="selectpicker form-control defaultpicker"
																data-live-search="true" data-size="10"
																title="Please Select ..." th:name="meterStatus" required
																th:id="meterStatus">
																	<option
																		th:each="meterStatus : ${T(com.tvl.desco.admin.enumeration.MeterStatus).values()}"
																		th:value="${meterStatus}"
																		th:text="${meterStatus.displayName}"
																		th:selected="${meterStatus.displayName.contains(st.meterStatus==null ? 'Please Select ...' : st.meterStatus.displayName)}">Select
																		Meter Status</option>
															</select></td>
														</tr>
														<!-- <tr class="shipon">
															<td colspan="8">

																<div class="with-border">
																	<div class="">
																		<div class="box-body">
																			<div class="">
																				add form

																				<div class="">

																					<fieldset class="col-md-12">
																						<legend>Basic Information</legend>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="meterConnectionType">Meter
																										Connection Type</label> <input type="text"
																										th:value="${st.meterConnectionType.displayName}"
																										required name="meterConnectionType"
																										class="form-control" id="meterConnectionType" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="organizationType">Organization
																										Type</label> <input type="text"
																										th:value="${st.organizationType.displayName}"
																										required name="organizationType"
																										class="form-control" id="organizationType" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="nationalID">NID</label> <input
																										type="text" th:value="${st.nationalID}"
																										required name="nationalID"
																										class="form-control" id="nationalID"
																										placeholder="NID" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="name">Name</label> <input
																										type="text" th:value="${st.name}" name="name"
																										class="form-control" id="name" required
																										placeholder="Name" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="fathersName">Father's Name</label>
																									<input type="text" th:value="${st.fathersName}"
																										required th:name="fathersName"
																										class="form-control" th:id="fathersName"
																										placeholder="Father Name" />
																								</div>
																							</div>
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="mothersName">Mother's Name</label>
																									<input type="text" th:value="${st.mothersName}"
																										required th:name="mothersName"
																										class="form-control" th:id="mothersName"
																										placeholder="Mother Name" />
																								</div>
																							</div>

																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="spouseName">Spouse Name</label> <input
																										type="text" th:value="${st.spouseName}"
																										th:name="spouseName" class="form-control"
																										th:id="spouseName" placeholder="Spouse Name" />
																								</div>
																							</div>
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="dateOfBirth" class="val-required">Date
																										of Birth</label>
																									<div class='input-group date' id='dateOfBirth'>
																										<input type='text' class="form-control"
																											th:value="${#dates.format(st.dateOfBirth, 'dd-MM-yyyy')}"
																											th:id="dateOfBirth" th:name="dateOfBirth"
																											required autocomplete="off" /> <span
																											class="input-group-addon"> <span
																											class="glyphicon glyphicon-calendar"></span>
																										</span>
																									</div>
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="gender">Gender</label> <input
																										type="text"
																										th:value="${st.gender.displayName}"
																										th:name="bin" class="form-control" th:id="bin"
																										placeholder="Gender" />
																								</div>
																							</div>
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="bin">BIN</label> <input type="text"
																										th:value="${st.bin}" th:name="bin"
																										class="form-control" th:id="bin"
																										placeholder="BIN" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="eTin">E-TIN</label> <input
																										type="text" th:value="${st.eTin}"
																										th:name="eTin" class="form-control"
																										th:id="eTIN" placeholder="E-TIN" />
																								</div>
																							</div>
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="tradeLicenseNumber">Trade
																										License No.</label> <input type="text"
																										th:value="${st.tradeLicenseNumber}"
																										th:name="tradeLicenseNumber"
																										class="form-control"
																										th:id="tradeLicenseNumber"
																										placeholder="Trade License No." />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6 fancybox" th:href="${st.photo_path}">
																								<img width="100" height="100"
																									th:src="@{'/nc/getLocalImage/' + ${st.id}}">
																							</div>
																						</div>

																					</fieldset>

																					<fieldset class="col-md-12">
																						<legend>Contact Information</legend>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="mobile">Mobile No.</label> <input
																										type="text" th:value="${st.mobile}" required
																										th:name="mobile" class="form-control"
																										th:id="mobile" placeholder="Mobile No." />
																								</div>
																							</div>
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="email">Email</label> <input
																										type="text" th:value="${st.email}"
																										th:name="email" required class="form-control"
																										th:id="email" placeholder="Email" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-12">
																								<div class="form-group">
																									<label for="address">Address</label>
																									<textarea rows="3" th:value="${st.address}"
																										name="address" class="form-control"
																										id="address" placeholder="Address"></textarea>
																								</div>
																							</div>
																						</div>

																					</fieldset>

																					<fieldset class="col-md-12">
																						<legend>Description of the Connection</legend>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="connectionType">Connection
																										Type</label> <input type="text"
																										th:value="${st.connectionType.displayName}"
																										required class="form-control" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="load">Load (KW)</label> <input
																										type="text" th:value="${st.load}" required
																										class="form-control" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="phase">Phase</label> <input
																										type="text" th:value="${st.phase.displayName}"
																										required class="form-control" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="volt">Voltage</label> <input
																										type="text" th:value="${st.volt.displayName}"
																										required class="form-control" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="tariffCategory">Tariff
																										Category</label> <input type="text"
																										th:value="${st.tariffCategory.displayName}"
																										required class="form-control" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="tariffInformation">Tariff</label> <input
																										type="text"
																										th:value="${st.tariffInformation.tariff}"
																										required class="form-control" />
																								</div>
																							</div>
																						</div>

																						<div class="row">
																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="tariffSubCategoryInformation">Tariff
																										SubCategory</label> <input type="text"
																										th:value="${st.tariffSubCategoryInformation.tariffSubCategory}"
																										required class="form-control" />
																								</div>
																							</div>

																							<div class="col-sm-6">
																								<div class="form-group">
																									<label for="specialClass">Special Class</label>
																									<input type="text"
																										th:value="${st.specialClass.displayName}"
																										required class="form-control" />
																								</div>
																							</div>
																						</div>

																					</fieldset>


																				</div>
																				/.add-form
																			</div>
																		</div>
																	</div>
																</div>


															</td>

														</tr> -->
													</div>
													<div>
														<tr>
															<td></td>
															<td></td>
															<td class="text-bold text-center">Total</td>
															<td></td>
															<td th:text="${totalAppliedLoad}" class="text-right text-bold"></td>
															<td th:text="${totalApprovedLoad}" class="text-right text-bold"></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</div>
												</tbody>
											</table>
										</div>
									</fieldset>

									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label for="nccmoActionInformations" class="val-required">CMO
													Action</label> <select class="selectpicker form-control"
													data-live-search="true" data-size="10"
													title="Please Select ..." name="nccmoActionInformations"
													required id="nccmoActionInformations">
													<option th:each="cmoType : ${serviceType}"
														th:value="${cmoType}" th:text="${cmoType.displayName}"
														>Select
														CMO Action</option>
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label for="remarks">Remarks</label>
												<textarea rows="3" th:field="*{remarks}" name="remarks"
													class="form-control" id="remarks" placeholder="Remarks"></textarea>
												<label class="control-label error-label"
													th:if="${#fields.hasErrors('remarks')}"
													th:errors="*{remarks}"> Error </label>
											</div>
										</div>
									</div>

									<input type="hidden" id="applicationId" name="applicationId"
										th:value="${applicationInformation.id}" /> <input
										type="hidden" id="id" name="id" th:field="*{id}" />
								</div>
							</form>
							<!-- /.box-body -->
						</div>
						<div id="modalOfficerSearchHolder"></div>
						<div th:include="deleteModal/del_modal"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet"
		href="/bootstrap/css/bootstrap-table-expandable.css">
	<link rel="stylesheet" href="/dist/css/jquery.fancybox.min.css"
		media="screen">
</th:block>
<th:block layout:fragment="script">
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="/dist/js/moment-with-locales.js"></script>
	<script src="/dist/js/bootstrap-datetimepicker.js"></script>
	<script src="bootstrap/js/bootstrap-table-expandable.js"></script>
	<script src="/dist/js/jquery.fancybox.min.js"></script>

	<script type="text/javascript">
		$('#preparationDate').datepicker({
			format : "dd-mm-yyyy",
			todayHighlight : true,
			forceParse : false,
			pickDate : false,
			autoclose : true,
		});

		function openOfficerSearchModal() {
			$.ajax({
				url : "/officer/serachOfficers/" + $("#applicationId").val(),

				success : function(data) {
					$("#modalOfficerSearchHolder").html(data);
					$("#officerSearchModal").modal("show");
					$('select').selectpicker();
					$('.selectpicker').selectpicker('refresh');

					$('#dueDate').datepicker({
						format : "dd-mm-yyyy",
						todayHighlight : true,
						forceParse : false,
						pickDate : false,
						autoclose : true,
					});
				}
			});
		};

		function myfunc() {

			var values = [];

			$('#officerTable #row-selector:checked').each(
					function() {
						var rowValue = $(this).closest('tr').find(
								'td.row-value').text();
						values.push(rowValue)
					});

			var json = JSON.stringify(values);

			document.getElementById('officerId').value = values;

			/* var table = document.getElementById('officerTable');
			
			for(var i = 1; i < table.rows.length; i++)
			{
			    table.rows[i].onclick = function()
			    {
			   	 alert(this.cells[1].innerHTML);
			    };
			} */
		};

		function getOfficerByJob() {
			$
					.getJSON(
							'/officer/getOfficerByJob',
							{
								job : $("#presentStatusJob").val(),
								applicationId : $('#applicationId').val(),
								ajax : 'true'
							},
							function(json) {
								console.log(json);
								var html = '';
								var len = json.length;
								for (var i = 0; i < len; i++) {
									html += '<tr><td class="text-center"> <input type="checkbox" name="termsOfService" id="row-selector" onclick="myfunc();" /></td><td class="row-value" th:text="'+ json[i].id +'" style="display: none;">'
											+ json[i].id
											+ '</td><td th:text="'+ json[i].employee_ID +'">'
											+ json[i].employee_ID
											+ '</td><td th:text="'+ json[i].name +'">'
											+ json[i].name
											+ '</td><td th:text="'+ json[i].designation +'">'
											+ json[i].designation
											+ '</td><td th:text="'+ json[i].phone_NO +'" class="text-center">'
											+ json[i].phone_NO
											+ '</td><td th:text="'+ json[i].presentjob +'" class="text-center">'
											+ json[i].presentjob
											+ '</td><td th:text="'+ json[i].donejob +'" class="text-center">'
											+ json[i].donejob + '</td></tr>';
								}

								$('#myTableOfficer').html(html);
							});
		};
	</script>
	<script>
		$(document).ready(function() {
			$('.shipon').find('td').not('[colspan="8"]').hide();
			$(".fancybox").fancybox({
				openEffect : "none",
				closeEffect : "none"
			});

			$('.defaultpicker').selectpicker({
				style : 'btn-default',
				size : 4,
				container : 'body'
			});
		});
	</script>
</th:block>
</div>
