<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{master-form}">

	<div layout:fragment="breadcrumb">
		<h1>Field Inspection Report for New Connection</h1>
		<ol class="breadcrumb">
			<li><a href="#" th:href="@{/}"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Field Inspection Report for New Connection</li>
		</ol>
	</div>

	<div layout:fragment="panel-header">
		<div class="form-panel-heading">
			<div class="row">

				<div th:if="${applicationInformation.id != null}"
					class="col-sm-11 panel-title pt-1 pull-left text-letf">
					<a href="/" class="btn btn-primary mr-1"><span
						class="fa fa-arrow-left"></span></a> Field Inspection Report for New
					Connection (<span
						th:text="${applicationInformation.trackingNumber}"></span>)
				</div>

				<div class="col-sm-1 pull-right text-right">
					<a href="/" class="btn btn-primary"><span
						class="fa fa-times-circle"></span></a>
				</div>
			</div>

		</div>
	</div>
	<div layout:fragment="panel-content">
		<!-- <div th:include="role/addForm"></div> -->
		<div class="card border-primary box box-primary">

			<div th:if="${message != null}"
				class="panel panel-default fade in collapse alert alert-info"
				style="margin: 10px; padding: 5px;" id="idMessagePanel">
				<div>
					<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
					</a>
				</div>
				<div class="panel-body" th:text="${message}"></div>
			</div>

			<div th:if="${errorMessage != null}"
				class="panel panel-default fade in collapse alert alert-warning"
				style="margin: 5px; padding: 5px;" id="idMessagePanel">
				<div>
					<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
					</a>
				</div>
				<div class="panel-body" th:text="${errorMessage}"></div>
			</div>

			<!-- <div th:if="${message != null}" class="alert alert-info"
				style="margin: 10px; padding: 10px;" th:text="${message}"></div> -->

			<div class="with-border">
				<div class="">
					<div class="box-body">
						<div class="">

							<div id="exTab1">
								<ul class="nav nav-tabs" id="myTab">
									<li th:if="${totalAppliedLoad <= 1}" th:classappend="${totalAppliedLoad <= 1} ? active : ''"><a href="#mw" data-toggle="tab">Wiring
											Inspection Report Information</a></li>
									<!-- <li th:if="${totalAppliedLoad < 1 and ncWiringInspectionReportInformation.id != null}"><a
										href="#fi" data-toggle="tab">Field Inspection Report
											Information</a></li> -->
									<li th:if="${totalAppliedLoad > 1}"
											th:classappend="${totalAppliedLoad > 1} ? active : ''"><a
										href="#fi" data-toggle="tab">Field Inspection Report
											Information</a></li>
									<li th:if="${totalAppliedLoad < 1 and ncWiringInspectionReportInformation.id == null}"><a>Field
											Inspection Report Information</a></li>

									<li><a
										href="#2fA" data-toggle="tab">Forward/Return</a></li>
									
								</ul>

								<div class="tab-content clearfix" style="margin-top: 5px;">
									<div class="tab-pane" th:classappend="${totalAppliedLoad <= 1} ? active : ''" id="mw">
										<nav th:include="ncloadrecommendation/wiring-inspection-tab"></nav>
									</div>


									<div class="tab-pane" th:classappend="${totalAppliedLoad > 1} ? active : ''" id="fi">
										
										<nav th:include="ncloadrecommendation/field-inspection-tab"></nav>
									</div>

									<div class="tab-pane" id="2fA" style="margin-top: 5px;">
										<form role="form"
											th:action="@{/officer/assignmentFieldInspector}"
											th:object="${newConnectionRecommenderInformation}"
											method="post" enctype="multipart/form-data"
											class="needs-validation" novalidate id="form">
											<div class="text-right">
												<div class="btn-group" role="group">
													<a class="btn btn-default" title="Search Officer"
														data-toggle="modal" data-target="#exampleModal"> <i
														class="fa fa-forward mr-1 text-primary"></i> Forward/Return
													</a>
												</div>

												<!-- Modal -->
												<div class="modal fade text-left" id="exampleModal">
													<div class="modal-dialog modal-dialog-centered"
														role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<i class="fa fa-times"></i>
																</button>
																<h5 class="modal-title" id="removeModalCenterTitle">Confirmation</h5>
															</div>
															<div class="modal-body ui-dialog-content">
																<div class="dialog-message">Do you want to forward this application?</div>
															</div>
															<div class="modal-footer">

																<button type="button" class="btn btn-secondary"
																	data-dismiss="modal">No</button>
																<button type="button"
																	onClick="openOfficerSearchModal();"
																	class="btn btn-primary"
																	title="Forward this application">Yes</button>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="">
												<input type="hidden" id="id" name="id" th:field="*{id}" />
												<input type="hidden" id="applicationId" name="applicationId"
													th:value="${applicationInformation.id}" />
													
												<input type="hidden" id="inspectId" name="inspectId"
													th:value="${ncFieldInspectionReportInformation.id}" />
											</div>
										</form>
									</div>


								</div>
							</div>



							<div id="modalPreviousMeterHolder"></div>
							<div id="modalLoadTestHolder"></div>
							<div id="modalOfficerSearchHolder"></div>

							<nav th:include="deleteModal/del_modal"></nav>

						</div>
					</div>
				</div>
			</div>
			<!-- #Modal for removing -->
			<div th:include="deleteModal/del_modal"></div>
		</div>
	</div>
</div>
<th:block layout:fragment="styles">
	<link rel="stylesheet" href="/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-table-expandable.css">
	<link rel="stylesheet" href="/dist/css/jquery.fancybox.min.css" media="screen">
	<link href="/dist/css/summernote.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="/dist/js/moment-with-locales.js"></script>
	<script src="/dist/js/bootstrap-datetimepicker.js"></script>
	<script src="bootstrap/js/bootstrap-table-expandable.js"></script>
	<script src="/dist/js/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
	<script src="/dist/js/summernote.min.js"></script>

	<script type="text/javascript">
	
		$('#inspectorRemarks').summernote({
			height: 150,
			placeholder: 'Inspector Remarks'
		});
		
		$('#remarks').summernote({
			height: 150,
			placeholder: 'Remarks'
		});
		
		$('#inspectionDate').datepicker({
			format : "dd-mm-yyyy",
			todayHighlight : true,
			forceParse : false,
			pickDate : false,
			autoclose : true,
		});

		$('#dueDate').datepicker({
			format : "dd-mm-yyyy",
			todayHighlight : true,
			forceParse : false,
			pickDate : false,
			autoclose : true,
		});

		function submitMe() {
			var output = document.getElementById('output');
			output.src = URL.createObjectURL(event.target.files[0]);
		};

		function addPreviousMeterModal(id) {
			$.ajax({
				url : "/officer/addPreviousMeterModal/"
						+ $("#applicationId").val() + "/" + $("#inspectId").val()
						+ "/" + id,

				success : function(data) {
					$("#modalPreviousMeterHolder").html(data);
					$("#previousMeterModal").modal("show");

					var x = document
							.getElementById("idPreviousMeterMessagePanel");
					x.style.display = "none";

				}
			});
		};

		function editPreviousMeterModal(id) {

			$.ajax({
				url : "/officer/addPreviousMeterModal/"
						+ $("#applicationId").val() + "/" + $("#inspectId").val()
						+ "/" + id,

				success : function(data) {
					$("#modalPreviousMeterHolder").html(data);
					$("#previousMeterModal").modal("show");

					var x = document
							.getElementById("idPreviousMeterMessagePanel");
					x.style.display = "none";

				}
			});
		};

		function addLoadTestModal(id) {
			$.ajax({
				url : "/officer/addLoadTestModal/" + $("#applicationId").val()
						+ "/" + $("#id").val() + "/" + id,

				success : function(data) {
					$("#modalLoadTestHolder").html(data);
					$("#resistanceModal").modal("show");

					var x = document.getElementById("idLoadMessagePanel");
					x.style.display = "none";

					$('select').selectpicker();
					$('.selectpicker').selectpicker('refresh');

				}
			});
		};

		function openOfficerSearchModal() {
			$.ajax({
				url : "/officer/serachOfficerFromFieldInspector/"
						+ $("#applicationId").val(),

				success : function(data) {
					$("#modalOfficerSearchHolder").html(data);
					$("#officerSearchInspectorModal").modal("show");
					$('select').selectpicker();
					$('.selectpicker').selectpicker('refresh');

					$('#dueDate').datepicker({
						format : "dd-mm-yyyy",
						todayHighlight : true,
						forceParse : false,
						pickDate : false,
						autoclose : true,
					});
				}
			});
		};

		function myfunc() {

			var values = [];

			$('#officerTableInspector #row-selector:checked').each(
					function() {
						var rowValue = $(this).closest('tr').find(
								'td.row-value').text();
						values.push(rowValue)
					});

			var json = JSON.stringify(values);

			document.getElementById('officerId').value = values;
		};

		function getOfficerByJob() {
			$
					.getJSON(
							'/officer/getOfficerByJob',
							{
								job : $("#presentStatusJob").val(),
								applicationId : $('#applicationId').val(),
								ajax : 'true'
							},
							function(json) {
								var html = '';
								var len = json.length;
								for (var i = 0; i < len; i++) {
									html += '<tr><td class="text-center"> <input type="checkbox" name="termsOfService" id="row-selector" onclick="myfunc();" /></td><td class="row-value" th:text="'+ json[i].id +'" style="display: none;">'
											+ json[i].id
											+ '</td><td th:text="'+ json[i].employee_ID +'">'
											+ json[i].employee_ID
											+ '</td><td th:text="'+ json[i].name +'">'
											+ json[i].name
											+ '</td><td th:text="'+ json[i].designation +'">'
											+ json[i].designation
											+ '</td><td th:text="'+ json[i].phone_NO +'" class="text-center">'
											+ json[i].phone_NO
											+ '</td><td th:text="'+ json[i].presentjob +'" class="text-center">'
											+ json[i].presentjob
											+ '</td><td th:text="'+ json[i].donejob +'" class="text-center">'
											+ json[i].donejob + '</td></tr>';
								}

								$('#myTableOfficer').html(html);
							});
		};
	</script>
	<script>
		$(document)
				.ready(
						function() {

							$('#myTab a[data-toggle="tab"]').on(
									'show.bs.tab',
									function(e) {
										localStorage.setItem('activeTab', $(
												e.target).attr('href'));
									});
							
							var activeTab = localStorage.getItem('activeTab');
							if (activeTab) {
								$('#myTab a[href="' + activeTab + '"]').tab(
										'show');
								$('#myTabW a[href="' + activeTab + '"]').tab(
										'show');
								$('#myTabFI a[href="' + activeTab + '"]').tab(
										'show');
							}

							$("#target :input").prop("disabled", true);

							$(".fancybox").fancybox({
								openEffect : "none",
								closeEffect : "none"
							});

							var errorPreviousMeter = $("#errorPreviousMeter")
									.val();

							if (errorPreviousMeter) {
								$
										.ajax({
											url : "/officer/addPreviousMeterModal/"
													+ $("#applicationId").val()
													+ "/"
													+ $("#id").val()
													+ "/null",

											success : function(data) {
												$("#modalPreviousMeterHolder")
														.html(data);
												$("#previousMeterModal").modal(
														"show");

												var x = document
														.getElementById("idPreviousMeterMessagePanel");
												x.style.display = "block";

												if (errorPreviousMeter == 'Load') {
													$("#idPreviousMeterError")
															.text(
																	"Load can not be empty.");
												} else
													{
														$("#idPreviousMeterError")
														.text(
																"Inspection report not found.");
													}

											}
										});
							}
							;

							var errorLoadTest = $("#errorLoadTest").val();

							if (errorLoadTest) {
								$
										.ajax({
											url : "/officer/addLoadTestModal/"
													+ $("#applicationId").val()
													+ "/" + $("#id").val()
													+ "/null",

											success : function(data) {
												$("#modalLoadTestHolder").html(
														data);
												$("#resistanceModal").modal(
														"show");

												var x = document
														.getElementById("idLoadMessagePanel");
												x.style.display = "block";

												$('select').selectpicker();
												$('.selectpicker')
														.selectpicker('refresh');

												$("#idLoadError").text(
														errorLoadTest);

											}
										});
							}
							;

							var status = $('#id').val();
							var href = $('#idAddMeter').attr('href');
							if (status !== null && status !== '') {
								$("#idPreviousMeterText").hide();

								$("#idResistanceTestText").hide();
								$("#idAddResistanceTest")
										.removeAttr("disabled");
								$('#idAddResistanceTest').attr('href', href);
							} else {
								$("#idPreviousMeterText").show();
								$('#idAddPreviousMeter').removeAttr('href');

								$("#idResistanceTestText").show();
								$("#idAddResistanceTest").attr("disabled",
										"disabled");
								$('#idAddResistanceTest').removeAttr('href');
							}

							$('.shipon').find('td').not('[colspan="9"]').hide();

							setTimeout(
									function() {
										document
												.getElementById('idMessagePanel').style.display = 'none';
									}, 5000);

							$('#cboBillingZoneInformation')
									.change(
											function() {
												$
														.getJSON(
																'/officer/getBillingBlockByZone',
																{
																	zoneId : $(
																			this)
																			.val(),
																	ajax : 'true'
																},
																function(data) {
																	var html = '<option value="">Select Billing Block</option>';
																	var len = data.length;
																	for (var i = 0; i < len; i++) {
																		html += '<option value="' + data[i].id + '">'
																				+ data[i].black
																				+ '</option>';
																	}
																	html += '</option>';

																	$(
																			'#cboBillingBlockInformation')
																			.html(
																					html);
																	$('select')
																			.selectpicker();
																	$(
																			'.selectpicker')
																			.selectpicker(
																					'refresh');
																});
											});
							
						});
	</script>
</th:block>
</div>
