<div id="exTabFI">
	<ul class="nav nav-tabs" id="myTabFI">
		<li class="active"><a href="#1fi" data-toggle="tab">Transformer
				& Misc. Information</a></li>
		<li th:if="${ncFieldInspectionReportInformation.id != null}"><a
			href="#2fi" data-toggle="tab">Connection/Meter List</a></li>
		<li th:if="${ncFieldInspectionReportInformation.id == null}"><a>Connection/Meter List</a></li>
		<!-- <li><a href="#3fi" data-toggle="tab">Previous Meter List</a></li> -->
	</ul>
	<div class="tab-content clearfix" style="margin-top: 5px;">
		<div class="tab-pane active" id="1fi">
			<!-- add form -->
			<form role="form" th:action="@{/officer/fieldinspection}"
				th:object="${ncFieldInspectionReportInformation}" method="post"
				enctype="multipart/form-data" class="needs-validation" novalidate
				id="form">
				<div class="text-right">
					<div class="btn-group" role="group">
						<button class="btn btn-default" type="submit" name=btnSubmit
							id="btnSubmit" value="SaveReload" title="Save & Reload">
							<i class="fa fa-floppy-o mr-1 text-primary"></i>Save
						</button>
					</div>

				</div>
				<div class="">

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="trackingNumber" class="val-required">Tracking
									Number</label> <input type="text"
									th:value="${applicationInformation.trackingNumber}"
									th:name="trackingNumber" class="form-control" readonly
									th:id="trackingNumber" placeholder="auto generated" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inspectionDate" class="val-required">Inspection
									Date</label>
								<div class='input-group date' id='inspectionDate'>
									<input type='text' class="form-control"
										th:value="${#dates.format(#dates.createNow(),'dd-MM-yyy')}"
										th:id="inspectionDate" th:name="inspectionDate" required
										autocomplete="off" /> <span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<fieldset class="col-md-12">
						<legend class="legend-text-color" id="possession-owner">Transformer
							Information </legend>
							
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="transformer" class="val-required">Transformer
										ID</label> 
										
										<!-- <select class="selectpicker form-control"
										data-live-search="true" data-size="10"
										title="Please Select ..." required
										th:field="*{transformer}"
										id="transformer">
										<option th:each="p : ${surveyStatic}"
											th:value="${p.TRANSFORMER_ID}" th:text="${p.TRANSFORMER_ID}">Select
											Transformer ID</option>
									</select> <label class="control-label error-label"
										th:errors="*{transformer}"> Error </label> -->
										
										<input type="text" th:field="*{transformer}"
										name="transformer" class="form-control" required
										id="transformer" placeholder="Transformer ID" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformer')}"
										th:errors="*{transformer}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="transformerRatingCapacity">Transformer
										Rating/Capacity (KVA)</label> <input type="text"
										th:field="*{transformerRatingCapacity}"
										name="transformerRatingCapacity" class="form-control"
										id="transformerRatingCapacity" placeholder="11KV Feeder" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformerRatingCapacity')}"
										th:errors="*{transformerRatingCapacity}"> Error </label>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="subSwitchingStation" class="val-required">Sub/Switching
										Station</label> <input type="text" th:field="*{subSwitchingStation}"
										name="subSwitchingStation" class="form-control" required
										id="subSwitchingStation" placeholder="Sub/Switching Station" />
									<label class="control-label error-label"
										th:if="${#fields.hasErrors('subSwitchingStation')}"
										th:errors="*{subSwitchingStation}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="ElevenKVFeeder" class="val-required">11KV
										Feeder</label> <input type="text" th:field="*{ElevenKVFeeder}"
										name="ElevenKVFeeder" class="form-control" id="ElevenKVFeeder"
										required placeholder="11KV Feeder" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('ElevenKVFeeder')}"
										th:errors="*{ElevenKVFeeder}"> Error </label>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<label for="feederLoad" class="val-required">Feeder
										Load</label> <input type="text" th:field="*{feederLoad}"
										name="feederLoad" class="form-control" required
										id="feederLoad" placeholder="Feeder Load" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('feederLoad')}"
										th:errors="*{feederLoad}"> Error </label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="feederBreakerSize" class="val-required">Feeder
										Cable Size</label> <input type="text" th:field="*{feederBreakerSize}"
										name="feederBreakerSize" class="form-control"
										id="feederBreakerSize" required
										placeholder="Feeder Cable Size" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('feederBreakerSize')}"
										th:errors="*{feederBreakerSize}"> Error </label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="feederHighestLoad" class="val-required">Feeder
										Highest Load </label> <input type="text"
										th:field="*{feederHighestLoad}" name="feederHighestLoad"
										class="form-control" required id="feederHighestLoad"
										placeholder="Feeder Highest Load" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('feederHighestLoad')}"
										th:errors="*{feederHighestLoad}"> Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<label for="transformerLoadR" class="val-required">Transformer
										Load R</label> <input type="text" th:field="*{transformerLoadR}"
										name="transformerLoadR" class="form-control" required
										id="transformerLoadR" placeholder="Transformer Load R" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformerLoadR')}"
										th:errors="*{transformerLoadR}"> Error </label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="transformerLoadY" class="val-required">Transformer
										Load Y</label> <input type="text" th:field="*{transformerLoadY}"
										name="transformerLoadY" class="form-control"
										id="transformerLoadY" required
										placeholder="Transformer Load Y" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformerLoadY')}"
										th:errors="*{transformerLoadY}"> Error </label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="transformerLoadB" class="val-required">Transformer
										Load B</label> <input type="text" th:field="*{transformerLoadB}"
										name="transformerLoadB" class="form-control" required
										id="transformerLoadB" placeholder="Transformer Load B" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformerLoadB')}"
										th:errors="*{transformerLoadB}"> Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="transformerLoadN" class="val-required">Transformer
										Load N</label> <input type="text" th:field="*{transformerLoadN}"
										name="transformerLoadN" class="form-control" required
										id="transformerLoadN" placeholder="Transformer Load N" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('transformerLoadN')}"
										th:errors="*{transformerLoadN}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="existingServiceDropSize">Existing Service
										Drop Size</label> <input type="number"
										th:field="*{existingServiceDropSize}"
										name="existingServiceDropSize" class="form-control"
										id="existingServiceDropSize"
										placeholder="Existing Service Drop Size" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('existingServiceDropSize')}"
										th:errors="*{existingServiceDropSize}"> Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="distanceOfServiceDrop" class="val-required">Distance
										of Service Drop</label> <input type="number"
										th:field="*{distanceOfServiceDrop}"
										name="distanceOfServiceDrop" class="form-control" required
										id="distanceOfServiceDrop"
										placeholder="Distance of Service Drop" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('distanceOfServiceDrop')}"
										th:errors="*{distanceOfServiceDrop}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="servicePoleNo">Service Pole No.</label> <input
										type="text" th:field="*{servicePoleNo}" name="servicePoleNo"
										class="form-control" id="servicePoleNo"
										placeholder="Service Pole No." /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('servicePoleNo')}"
										th:errors="*{servicePoleNo}"> Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="existingServiceDropStatus" class="val-required">Existing
										Service Drop Status</label> <input type="text"
										th:field="*{existingServiceDropStatus}"
										name="existingServiceDropStatus" class="form-control" required
										id="existingServiceDropStatus"
										placeholder="Existing Service Drop Status" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('existingServiceDropStatus')}"
										th:errors="*{existingServiceDropStatus}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="numberOfSpanBetweenPoleAndTransformer"
										class="val-required">Number of span between Pole and
										Transformer</label> <input type="number"
										th:field="*{numberOfSpanBetweenPoleAndTransformer}"
										name="numberOfSpanBetweenPoleAndTransformer"
										class="form-control"
										id="numberOfSpanBetweenPoleAndTransformer" required
										placeholder="Number of span between Pole and Transformer" />
									<label class="control-label error-label"
										th:if="${#fields.hasErrors('numberOfSpanBetweenPoleAndTransformer')}"
										th:errors="*{numberOfSpanBetweenPoleAndTransformer}">
										Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="existingLTConductorSize">Existing LT
										Conductor Size</label> <input type="text"
										th:field="*{existingLTConductorSize}"
										name="existingLTConductorSize" class="form-control"
										id="existingLTConductorSize"
										placeholder="Existing LT Conductor Size" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('existingLTConductorSize')}"
										th:errors="*{existingLTConductorSize}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="structureID">Structure ID</label> <input
										type="text" th:field="*{structureID}" name="structureID"
										class="form-control" id="structureID"
										placeholder="Structure ID" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('structureID')}"
										th:errors="*{structureID}"> Error </label>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset class="col-md-12" style="margin-top: 10px">
						<legend class="legend-text-color" id="possession-owner">Billing
							Information </legend>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="billingZoneInformation" class="val-required">Billing
										Zone</label> <select class="selectpicker form-control"
										data-live-search="true" data-size="10"
										title="Please Select ..." required
										th:field="*{billingZoneInformation}"
										id="cboBillingZoneInformation">
										<option th:each="p : ${billingZoneInformation}"
											th:value="${p.id}" th:text="${p.zone}">Select
											Billing Zone</option>
									</select> <label class="control-label error-label"
										th:errors="*{billingZoneInformation}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="billingBlockInformation" class="val-required">Billing
										Block </label> <select class="selectpicker form-control"
										data-live-search="true" data-size="10"
										title="Please Select ..." required
										th:field="*{billingBlockInformation}"
										id="cboBillingBlockInformation">
										<option th:each="p : ${billingBlockInformation}"
											th:value="${p.id}" th:text="${p.black}">Select
											Billing Block</option>
									</select> <label class="control-label error-label"
										th:errors="*{billingBlockInformation}"> Error </label>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset class="col-md-12" style="margin-top: 10px">
						<legend class="legend-text-color" id="possession-owner">Misc.
							Information </legend>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="numberOfKitchen">Number of Kitchen </label> <input
										type="text" th:field="*{numberOfKitchen}"
										name="numberOfKitchen" class="form-control"
										id="numberOfKitchen" placeholder="Number of Kitchen" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('numberOfKitchen')}"
										th:errors="*{numberOfKitchen}"> Error </label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="presentStatusOfSpot">Present Status of Spot</label>
									<input type="text" th:field="*{presentStatusOfSpot}"
										name="presentStatusOfSpot" class="form-control"
										id="presentStatusOfSpot" placeholder="Present Status of Spot" />
									<label class="control-label error-label"
										th:if="${#fields.hasErrors('presentStatusOfSpot')}"
										th:errors="*{presentStatusOfSpot}"> Error </label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="meterNoInSpot">Meter Number in spot (if
										any)</label> <input type="text" th:field="*{meterNoInSpot}"
										name="meterNoInSpot" class="form-control" id="meterNoInSpot"
										placeholder="Meter Number in spot (if any)" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('meterNoInSpot')}"
										th:errors="*{meterNoInSpot}"> Error </label>
								</div>
							</div>
						</div>
					</fieldset>
					
					<div class="row">
						<div class="col-sm-12 mt-3">
							<fieldset>
								<legend class="legend-text-color" style="width: auto;">Land &amp; Structural Information</legend>
								<fieldset>
									<legend class="legend-text-color" style="width: auto;">Total Land (Katha / Sq. Ft)</legend>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="totalLandInKatha">Katha</label> 
											<input type="number" th:field="*{totalLandInKatha}" class="form-control" placeholder="Katha" /> 
											<label class="control-label error-label" th:if="${#fields.hasErrors('totalLandInKatha')}" th:errors="*{totalLandInKatha}"> Error </label>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="totalLandInSquareFeet">Square Feet</label> 
											<input type="number" th:field="*{totalLandInSquareFeet}" class="form-control" placeholder="Square Feet" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
											<label class="control-label error-label" th:if="${#fields.hasErrors('totalLandInSquareFeet')}" th:errors="*{totalLandInSquareFeet}"> Error </label>
										</div>
									</div>
								</fieldset>
								
								<div class="row mt-3">
									<div class="col-sm-6">
										<fieldset>
											<legend class="legend-text-color" style="width: auto;">Tinshed Rooms &amp; Kitchen</legend>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalTinShedRoom">Number of Rooms</label> 
													<input type="number" th:field="*{totalTinShedRoom}" class="form-control" placeholder="Number of Rooms" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalTinShedRoom')}" th:errors="*{totalTinShedRoom}"> Error </label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalTinShedKitchen">Number of Kitchens</label> 
													<input type="number" th:field="*{totalTinShedKitchen}" class="form-control" placeholder="Number of Kitchens" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalTinShedKitchen')}" th:errors="*{totalTinShedKitchen}"> Error </label>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-sm-6">
										<fieldset>
											<legend class="legend-text-color" style="width: auto;">Semi-Concrete Rooms &amp; Kitchen</legend>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalSemiConcreteRoom">Number of Rooms</label> 
													<input type="number" th:field="*{totalSemiConcreteRoom}" class="form-control" placeholder="Number of Rooms" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalSemiConcreteRoom')}" th:errors="*{totalSemiConcreteRoom}"> Error </label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalSemiConcreteKitchen">Number of Kitchens</label> 
													<input type="number" th:field="*{totalSemiConcreteKitchen}" class="form-control" placeholder="Number of Kitchens" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalSemiConcreteKitchen')}" th:errors="*{totalSemiConcreteKitchen}"> Error </label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
								
								<div class="row mt-3">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="isRAJUKApprovedPlan">RAJUK Approved Plan?</label> 
											<select class="selectpicker form-control"
												data-live-search="true" data-size="10"
												title="Select ..." th:field="*{isRAJUKApprovedPlan}">
												<option th:each="item : ${T(com.tvl.desco.admin.enumeration.YesNo).values()}"
													th:value="${item}" th:text="${item.displayName}">
													Select One
												</option>
											</select> 
											<label class="control-label error-label" th:if="${#fields.hasErrors('isRAJUKApprovedPlan')}" th:errors="*{isRAJUKApprovedPlan}"> Error </label>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="doesHaveRAJUKObjection">Does have RAJUK Objection?</label> 
											<select class="selectpicker form-control"
												data-live-search="true" data-size="10"
												title="Select ..." th:field="*{doesHaveRAJUKObjection}">
												<option th:each="item : ${T(com.tvl.desco.admin.enumeration.YesNo).values()}"
													th:value="${item}" th:text="${item.displayName}">
													Select One
												</option>
											</select> 
											<label class="control-label error-label" th:if="${#fields.hasErrors('doesHaveRAJUKObjection')}" th:errors="*{doesHaveRAJUKObjection}"> Error </label>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-sm-6">
										<fieldset>
											<legend class="legend-text-color" style="width: auto;">Multi-storey: According to RAJUK Plan</legend>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalFloorAccordingToRAJUK">Number of Floors</label> 
													<input type="number" th:field="*{totalFloorAccordingToRAJUK}" class="form-control" placeholder="Number of Floors" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalFloorAccordingToRAJUK')}" th:errors="*{totalFloorAccordingToRAJUK}"> Error </label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalUnitAccordingToRAJUK">Number of Units</label> 
													<input type="number" th:field="*{totalUnitAccordingToRAJUK}" class="form-control" placeholder="Number of Units" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalUnitAccordingToRAJUK')}" th:errors="*{totalUnitAccordingToRAJUK}"> Error </label>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="col-sm-6">
										<fieldset>
											<legend class="legend-text-color" style="width: auto;">Multi-storey: On the Basis of Real Construction</legend>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalFloorOnBasisConstruction">Number of Floors</label> 
													<input type="number" th:field="*{totalFloorOnBasisConstruction}" class="form-control" placeholder="Number of Floors" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalFloorOnBasisConstruction')}" th:errors="*{totalFloorOnBasisConstruction}"> Error </label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="totalUnitOnBasisConstruction">Number of Units</label> 
													<input type="number" th:field="*{totalUnitOnBasisConstruction}" class="form-control" placeholder="Number of Units" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
													<label class="control-label error-label" th:if="${#fields.hasErrors('totalUnitOnBasisConstruction')}" th:errors="*{totalUnitOnBasisConstruction}"> Error </label>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
								
								<div class="mt-3">
									<div class="form-group">
										<label for="grandTotalFloorArea">Grand Total Floor Area (Sq. Ft.)</label> 
										<input type="number" th:field="*{grandTotalFloorArea}" class="form-control" placeholder="Total Floor Area (Sq. Ft.)" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" min="0"/> 
										<label class="control-label error-label" th:if="${#fields.hasErrors('grandTotalFloorArea')}" th:errors="*{grandTotalFloorArea}"> Error </label>
									</div>
								</div>
							
							</fieldset>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inspectorRemarks">Inspector Remarks</label>
						<textarea rows="3" th:field="*{inspectorRemarks}" name="inspectorRemarks" class="form-control"
							id="inspectorRemarks" placeholder="Inspector Remarks">
						</textarea>
					</div>

					<input type="hidden" id="applicationId" name="applicationId"
						th:value="${applicationInformation.id}" /> <input type="hidden"
						id="id" name="id" th:field="*{id}" /> <input type="hidden"
						id="errorPreviousMeter" name="errorPreviousMeter"
						th:value="${errorPreviousMeter}" /> <input type="hidden"
						id="errorLoadTest" name="errorLoadTest"
						th:value="${errorLoadTest}" /> <input type="hidden" id="prevMId"
						name="prevMId" />

				</div>
				<!-- /.box-body -->
			</form>
		</div>
		<div class="tab-pane" id="2fi">
			<a href="#" class="btn btn-default"
				th:href="@{/newconnection/addmeter(applicationId=${applicationInformation.id})}"
				title="Add New Meter"><span
				class="fa fa-plus-square mr-1 text-primary"></span> Add New Meter</a>
			<div class="box box-primary" style="margin-top: 10px">

				<div class="table-responsive">
					<table data-toolbar="#toolbar"
						class="table table-bordered table-hover table-expandable"
						data-toggle="table" id="exportTable" data-resizable="true"
						data-click-to-select="true">
						<thead>
							<tr class="bg-secondary">
								<th th:if="${ncFieldInspectionReportInformation.id != null}">Action</th>
								<th>Tracking Serial</th>
								<th>Applicant Name</th>
								<th>Mobile</th>
								<th>NID</th>
								<th>Previous Load (KW)</th>
								<th>Applied Load (KW)</th>
								<th>Phase</th>
								<th>Tariff Category</th>
								<th>Tariff</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<div th:each="st,iter : ${meterList}">
								<tr th:classappend="${loadRecommendedList[iter.index].recommendedLoad == 'Yes'} ? dash-status--draft : ''">
									<td th:if="${ncFieldInspectionReportInformation.id != null}"><a
										th:href="@{/officer/loadrecommendationforinspector(meterId=${st.id},inspectionId=${ncFieldInspectionReportInformation.id})}"
										class="btn btn-sm btn-default" title="Add Load"><span
											class="fa fa-edit text-success"></span></a></td>
									<td th:text="${st.trackingSerialNumber}"
										class="tracking-sl-color">Tracking Serial No.</td>
									<td th:text="${st.name}">Applicant Name</td>
									<td th:text="${st.mobile}">Mobile</td>
									<td th:text="${st.nationalID}">NID</td>
									<td th:text="${st.previousLoad}" class="text-right">Previous Load(KW)</td>
									<td th:text="${st.load}" class="text-right">Load(KW)</td>
									<td th:text="${st.phase.displayName}">Phase</td>
									<td th:text="${st.tariffCategory.displayName}">Tariff
										Category</td>
									<td th:text="${st.tariffInformation.tariff}">Tariff</td>
								</tr>
								<tr class="shipon">
									<nav
										th:include="ncloadrecommendation/connection-detail-information"></nav>
								</tr>
							</div>
						</tbody>
					</table>
				</div>

			</div>

			<a class="btn btn-default" id="idAddPreviousMeter"
				title="Add Previous Meter" onClick="addPreviousMeterModal(null);"><span
				class="fa fa-plus-square mr-1 text-primary"></span> Add Previous
				Meter</a>

			<div class="box box-primary" style="margin-top: 10px">
				<div class="table-responsive">
					<table data-toolbar="#toolbar"
						class="table table-bordered table-hover" 
						id="exportTable" data-resizable="true" data-click-to-select="true">
						<thead>
							<tr class="bg-secondary">
								<th style="width:120px">Actions</th>
								<th>Meter No.</th>
								<th>Account No.</th>
								<th style="width:100px">Load (KW)</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<tr th:each="st,iter : ${previousMeterList}">
								<td><a th:data-id="${st.id}"
									th:data-meterno="${st.meterNo}"
									th:data-accountno="${st.accountNo}" th:data-load="${st.load}"
									class="btn btn-sm btn-default" title="Edit Previous Meter"
									th:onClick="editPreviousMeterModal([[${st.id}]])"><span
										class="fa fa-edit text-success"></span> Edit</a> <a
									data-toggle="modal" data-target="#modalDelete"
									th:attr="data-target='#modalDelete'+${st.id }"
									class="btn btn-sm  btn-default"><span
										class="glyphicon glyphicon-remove text-danger"></span></a></td>
								<td th:text="${st.meterNo}" class="text-center">Meter No</td>
								<td th:text="${st.accountNo}" class="text-center">Account No</td>
								<td th:text="${st.load}" class="text-right">Load</td>

								<div class="modal fade" th:id="modalDelete+${st.id }">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<i class="fa fa-times"></i>
												</button>
												<h5 class="modal-title" id="removeModalCenterTitle">Confirmation</h5>
											</div>
											<div class="modal-body ui-dialog-content">
												<div class="dialog-message">Do you want to delete?</div>
											</div>
											<div class="modal-footer">

												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
												<a th:href="@{/officer/deletePreviousMeter(id=${st.id})}"
													title="Delete" class="btn btn-danger">Delete</a>
											</div>
										</div>
									</div>
								</div>

							</tr>
						</tbody>
						<tfoot>
							<tr class="bg-secondary">
								<th></th>
								<th></th>
								<th>Total</th>
								<th th:text="${totalPreviousLoad}" class="text-right"></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<input type="hidden"
			th:id="totalPreviousLoad" th:name="totalPreviousLoad"
			th:value="${totalPreviousLoad}"
			class="form-control" />
			
			<input type="hidden"
			th:id="totalNewLoad" th:name="totalNewLoad"
			th:value="${totalSanctionedLoad}" readonly
			class="form-control" />

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalAppliedLoad" class="val-required">Total
							Applied Load (KW)</label> <input type="text" th:id="totalAppliedLoad"
							th:name="totalAppliedLoad" th:value="${totalAppliedLoad}"
							readonly required class="form-control" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalSanctionedLoad" class="val-required">Total
							Recommended Load (KW)</label> <input type="text"
							th:id="totalSanctionedLoad" th:name="totalSanctionedLoad"
							th:value="${totalSanctionedLoad}" readonly required
							class="form-control" />
					</div>
				</div>
			</div>
			<div class="row" th:if="${totalSolarAmount != null}">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalSolarAmount">Total
							Solar (WP)</label> <input type="text" th:id="totalSolarAmount"
							th:name="totalSolarAmount" th:value="${totalSolarAmount}"
							readonly class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>

</div>