<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout-applicant">
<head>
<title>Dashboard</title>
</head>
<body>
	<section layout:fragment="header">
		<h1>Dashboard</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<!-- Small boxes (Stat box) -->
		<div th:if="${message != null}"
			class="panel panel-default fade in collapse alert alert-info"
			style="margin: 10px; padding: 5px;" id="idMessagePanel">
			<div>
				<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
				</a>
			</div>
			<div class="panel-body" th:text="${message}"></div>
		</div>
		
		<div th:if="${#lists.isEmpty(applicationInformations.content)}">
			<div class="alert alert-info alert-styled-left" role="alert">
				<div class="row">
					<div class="col-sm-9 h5">You do not have any application to
						display. Please consider applying for a new connection.</div>
					<div class="col-sm-3 text-sm-right">
						<a th:href="@{/nc/apply}" class="btn btn-primary">Apply Here</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-8">
			<div class="row mb-4">
				<div class="col-sm-7">
					<h2 class="h2 text-bold" style="margin-top: 0;">Applied Applications</h2>
				</div>
				<div class="col-sm-5">
					<form th:action="@{/}" method="get">
						<div th:replace="dashboard/search-form :: divSearch"></div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${not #lists.isEmpty(applicationInformations.content)}">
			<div class="col-sm-8">
		
				<div th:each="appInfo,i : ${applicationInformations}">
		
					<div class="panel panel-default dash-application">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-7">
									<div class="dash-status font-weight-normal" th:classappend="${appInfo.applicationStatus.displayName == 'Draft'} ? dash-status--draft : ''" th:text="${appInfo.applicationStatus.displayName}"></div>
									<span class="text-muted d-inline-block mt-3">Tracking No.: <span th:text="${appInfo.trackingNumber}"></span></span>
									<h4 class="text-bold" style="font-size: 20px; margin-top: 2px; margin-bottom: 2px;">
										<a href="#"><span th:text="${recommendatioDates[i.index].applicantName}"></span></a>
									</h4>
									<div class="text-muted"><span th:text="${appInfo.totalMeter + ' Meters, ' + appInfo.totalLoad + ' KW Total Load'}"></span></div>
								</div>
								<div class="col-md-5 text-md-right">
									<div class="btn-group mt-4 mt-md-0 mb-3">
										<a
										th:if="${appInfo.applicationStatus.displayName == 'Demand Note Preparation'}"
										href="#" class="btn btn-default btn-sm"
										th:href="@{/officer/viewConnectionList(applicationId=*{appInfo.id})}"
										title="View Load Recommendation"><span
										class="fa fa-eye mr-1 text-success"></span> Recommendation</a>
										<a
										th:if="${appInfo.applicationStatus.displayName == 'Demand Note Fees Payment' or appInfo.applicationStatus.displayName == 'Demand Note Issue'}"
										href="#" class="btn btn-default btn-sm"
										th:href="@{/officer/viewVerifiedDemandNoteDashboardReport(id=${recommendatioDates[i.index].demandNoteVerificationId},demandNoteId=${recommendatioDates[i.index].demandNoteId})}"
										title="View Demand Note"><span
										class="fa fa-eye mr-1 text-success"></span> Demand Note</a>
										<a
										th:if="${appInfo.applicationStatus.displayName == 'Solar Verification'}"
										href="#" class="btn btn-default btn-sm"
										th:href="@{/officer/viewSolarReportDashboard(id=${recommendatioDates[i.index].solarInspectionId})}"
										title="View Solar Report"><span
										class="fa fa-eye mr-1 text-success"></span> Solar Report</a>
										<a
										th:if="${appInfo.applicationStatus.displayName == 'COSS Assignment & Workdone'}"
										href="#" class="btn btn-default btn-sm"
										th:href="@{/officer/viewCMODashboardApplicantReport(id=${recommendatioDates[i.index].cmoPreparationId})}"
										title="View CMO"><span
										class="fa fa-eye mr-1 text-success"></span> CMO</a>
									      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
									      <ul class="dropdown-menu dropdown-menu-right">
									        <li th:if="${(appInfo.applicationStatus.displayName == 'Draft' or appInfo.applicationStatus.displayName == 'Return from One Point') and appInfo.isMain =='Yes'}">
									        <a href="#" th:if="${appInfo.newConnectionApplicationType.displayName == 'New Connection'}" th:href="@{/nc/apply(id=*{appInfo.id})}"><i class="fa fa-pencil mr-1" aria-hidden="true"></i> Edit</a>
									        <a href="#" th:if="${appInfo.newConnectionApplicationType.displayName == 'Load Change (Addition)'}" th:href="@{/loadChangeAddition/apply(id=*{appInfo.id})}"><i class="fa fa-pencil mr-1" aria-hidden="true"></i> Edit</a>
									        <a href="#" th:if="${appInfo.newConnectionApplicationType.displayName == 'Load Change (Substraction)'}" th:href="@{/loadChangeSubtraction/apply(id=*{appInfo.id})}"><i class="fa fa-pencil mr-1" aria-hidden="true"></i> Edit</a>
									        <a href="#" th:if="${appInfo.newConnectionApplicationType.displayName == 'Load Change (Division/Distribution)'}" th:href="@{/loadChangeDistribution/apply(id=*{appInfo.id})}"><i class="fa fa-pencil mr-1" aria-hidden="true"></i> Edit</a></li>
									        <li><a href="#" th:href="@{/nc/view(id=*{appInfo.id})}"><i class="fa fa-eye mr-1" aria-hidden="true"></i> View</a></li>
									        <li th:if="${appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment'}"><a href="#" th:href="@{/officer/viewConnectionListApplicant(applicationId=*{appInfo.id})}"><i class="fa fa-eye mr-1" aria-hidden="true"></i> Recommendation</a></li>
									        <li><a href="#" th:href="@{/nc/printPreviewReport(id=*{appInfo.id})}"><i class="fa fa-print mr-1" aria-hidden="true"></i> Print</a></li>
									        <!-- <li role="separator" class="divider"></li>
									        <li><a href="#">Delete</a></li> -->
									      </ul>
									</div>
									<div class="text-muted"><strong>Date of Application:</strong> <span
											th:text="${#dates.format(appInfo.createdAt, 'dd MMM yyyy')}"></span></div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
								<span th:if="${appInfo.applicationStatus.displayName == 'Submitted' and appInfo.isMain =='Yes' and recommendatioDates[i.index].isPaymentRequired == 'Yes' and recommendatioDates[i.index].isApplicationFeesPaid == 'No'}">
									<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> To pay the application fee <a th:href="@{/nc/payment(applicationId=*{appInfo.id},purpose='Application Fee')}" class="text-bold">please click here</a>
								</span>
								
								<span th:if="${appInfo.applicationStatus.displayName == 'Return from One Point' and appInfo.isMain =='Yes'}">
									<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> To re-submit this application <a th:href="@{/nc/reSubmit(applicationId=*{appInfo.id})}" class="text-bold">please click here</a>
								</span>
								
								<span th:if="${appInfo.applicationStatus.displayName == 'Demand Note Issue' and appInfo.isMain =='Yes'}">
									<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> For demand note fees payment <a th:href="@{/nc/payment(applicationId=*{appInfo.id},purpose='Demand Note Fees')}" class="text-bold">please click here</a>
								</span>
								
								<span th:if="${(appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment') and appInfo.isMain =='Yes' and recommendatioDates[i.index].isSolarRequired =='Yes'}">
									<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> To submit solar documents <a href="#" th:onClick="addAttachmentModal([[${appInfo.id}]])" class="text-bold">please click here</a>
								</span>
								
								<span th:if="${((appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment' or appInfo.applicationStatus.displayName == 'Solar Verified By Committee') and appInfo.isMain =='Yes') and recommendatioDates[i.index].isConsumerMeter =='Yes' and recommendatioDates[i.index].isAllConsumerMeterAssigned =='No'}">
									<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> To submit meter information <a th:href="@{/officer/meterentry(applicationId=*{appInfo.id})}" class="text-bold">please click here</a>
								</span>
							
								<!-- <span class="d-inline-block ml-1 mr-1 text-muted">|</span>
								<i class="fa fa-bell text-info mr-1" aria-hidden="true"></i> To confirm workdone information <a href="#" class="text-bold">Click here</a> -->
							</div>
							
							<div id="modalHolder"></div>
							<div id="attachmentModalHolder"></div>
					</div>
			

			<!-- <fieldset class="col-md-12">
				<legend class="text-white"
					th:classappend="${appInfo.applicationStatus.displayName == 'Draft'} ? legend-color-draft : legend-color-submitted"
					th:text="${appInfo.applicationStatus.displayName}"></legend>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-5">Tracking Number</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + appInfo.trackingNumber}"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-5">Application Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + #dates.format(appInfo.createdAt, 'dd MMM yyyy')}"></span>
									</div>
								</div>
								<div
									th:if="${recommendatioDates[i.index].inspectorAssignDate != null and appInfo.applicationStatus.displayName == 'Forward to Inspector'}"
									class="row">
									<div class="col-sm-5">Assigned Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].inspectorAssignDate}"></span>
									</div>
								</div>
								<div
									th:if="${appInfo.applicationStatus.displayName == 'Forward To AE(NC) For Recommendation'}"
									class="row">
									<div class="col-sm-5">Submission Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].inspectorSubmissionDate}"></span>
									</div>
								</div>
								<div
									th:if="${appInfo.applicationStatus.displayName == 'Forward To SDE For Recommendation'}"
									class="row">
									<div class="col-sm-5">Submission Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].aeNCSubmissionDate}"></span>
									</div>
								</div>
								<div
									th:if="${appInfo.applicationStatus.displayName == 'Forward To XEN For Recommendation'}"
									class="row">
									<div class="col-sm-5">Submission Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].sDESubmissionDate}"></span>
									</div>
								</div>
								<div
									th:if="${appInfo.applicationStatus.displayName == 'Forward For Demand Note'}"
									class="row">
									<div class="col-sm-5">Submission Date</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].xenSubmissionDate}"></span>
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-5">Applicant Name</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + recommendatioDates[i.index].applicantName}"></span>
									</div>
									<div class="col-sm-5">Connection Place</div>
										<div class="col-sm-7">
											<span class="text-bold"
												th:text="${' : House/Dag#' + appInfo.houseDagNumber} + ', Road#' + ${appInfo.aVLANERoadNumber} + ',  Area#' + ${appInfo.areaInformation.name}"></span>
										</div>
								</div>
								<div class="row">
									<div class="col-sm-5">Connection Information</div>
									<div class="col-sm-7">
										<span class="text-bold"
											th:text="${' : ' + appInfo.totalMeter + ' Meters, '}"></span><span
											class="text-bold"
											th:text="${appInfo.totalLoad + ' KW Total Load'}"></span>
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-right">
								<a
									th:if="${(appInfo.applicationStatus.displayName == 'Draft' or appInfo.applicationStatus.displayName == 'Return from One Point') and appInfo.isMain =='Yes'}"
									href="#" class="btn btn-default"
									th:href="@{/nc/apply(id=*{appInfo.id})}"
									title="Edit Application"><span
									class="fa fa-edit mr-1 text-success"></span> Edit</a> <a href="#"
									class="btn btn-default" th:href="@{/nc/view(id=*{appInfo.id})}"
									title="View Application"><span
									class="fa fa-eye mr-1 text-success"></span> View</a> <a href="#"
									class="btn btn-default"
									th:href="@{/nc/printPreviewReport(id=*{appInfo.id})}"
									title="Print Application"><span
									class="fa fa-print mr-1 text-success"></span> Print</a> <a
									th:if="${appInfo.applicationStatus.displayName == 'CMO Prepared'}"
									href="#" class="btn btn-default"
									th:href="@{/officer/viewCMODashboardApplicantReport(id=${recommendatioDates[i.index].cmoPreparationId})}"
									title="Print Application"><span
									class="fa fa-eye mr-1 text-success"></span> CMO</a>
							</div>
						</div>
						<hr
							th:if="${appInfo.applicationStatus.displayName != 'Submitted'}"
							style="margin-top: 5px !important; margin-bottom: 5px !important;">
						<div class="row" style="display: flex;">
							<div
								th:if="${appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment'}"
								class="col-sm-4">
								<div>
									Demand Note Preparation Date: <span class="text-bold"
										th:text="${recommendatioDates[i.index].demandNotePreparationDate}"></span>
								</div>
							</div>
							<div
								th:if="${appInfo.applicationStatus.displayName == 'Demand Note Issue'}"
								class="col-sm-4">
								<div>
									Demand Note Approval Date: <span class="text-bold"
										th:text="${recommendatioDates[i.index].demandNoteApprovalDate}"></span>
								</div>
							</div>

							<div
								th:if="${appInfo.applicationStatus.displayName == 'Demand Note Fees Payment'}"
								class="col-sm-4">
								<div>
									Demand Note Payment Date: <span class="text-bold"
										th:text="${recommendatioDates[i.index].demandNotePaymentDate}"></span>
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<a
									th:if="${appInfo.applicationStatus.displayName == 'Demand Note Fees Payment' or appInfo.applicationStatus.displayName == 'Demand Note Issue'}"
									href="#" class="btn btn-default"
									th:href="@{/officer/viewVerifiedDemandNoteDashboardReport(id=${recommendatioDates[i.index].demandNoteVerificationId},demandNoteId=${recommendatioDates[i.index].demandNoteId})}"
									title="View Demand Note"><span
									class="fa fa-eye mr-1 text-success"></span> View Demand Note</a> <a
									th:if="${appInfo.applicationStatus.displayName == 'Demand Note Fees Payment'}"
									class="btn btn-default"
									th:onClick="paymentModal([[${appInfo.id}]])"
									title="View Demand Note Payment"><span
									class="fa fa-eye mr-1 text-success"></span> View Payment</a>
							</div>

						</div>
						<hr
							th:if="${appInfo.applicationStatus.displayName == 'Submitted' and appInfo.isMain =='Yes'}">
						<label
							th:if="${appInfo.applicationStatus.displayName == 'Submitted' and appInfo.isMain =='Yes' and recommendatioDates[i.index].isPaymentRequired == 'Yes' and recommendatioDates[i.index].isApplicationFeesPaid == 'No'}"
							class="fa fa-bell-o mr-1 text-success" for="termsOfService">
							To pay the application fee <a style="text-decoration: underline;"
							href="#"
							th:href="@{/nc/payment(applicationId=*{appInfo.id},purpose='New Connection Application Fee')}">Please
								click here</a>
						</label><label
							th:if="${appInfo.applicationStatus.displayName == 'Submitted' and appInfo.isMain =='Yes' and recommendatioDates[i.index].isApplicationFeesPaid == 'Yes'}"
							class="fa fa-bell-o mr-1 text-success" for="termsOfService">
							Please re-submit this application. <a
							style="text-decoration: underline;" href="#"
							th:href="@{/nc/reSubmit(applicationId=*{appInfo.id})}">Click
								here to submit</a>
						</label> <label
							th:if="${appInfo.applicationStatus.displayName == 'Demand Note Issue' and appInfo.isMain =='Yes'}"
							class="fa fa-bell-o mr-1 text-success"> For demand note
							fees payment <a style="text-decoration: underline;" href="#"
							th:href="@{/nc/payment(applicationId=*{appInfo.id},purpose='Demand Note Fees')}">Please
								click here</a>
						</label> <label
							th:if="${(appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment') and appInfo.isMain =='Yes' and recommendatioDates[i.index].isSolarRequired =='Yes'}"
							class="fa fa-bell-o mr-1 text-success"> To submit solar documents <a
							style="text-decoration: underline;" title="Add Solar Attachment"
							th:onClick="addAttachmentModal([[${appInfo.id}]])">Please click here</a>
						</label> <label
							th:if="${((appInfo.applicationStatus.displayName == 'Demand Note Issue' or appInfo.applicationStatus.displayName == 'Demand Note Fees Payment' or appInfo.applicationStatus.displayName == 'Solar Verified By Committee') and appInfo.isMain =='Yes') and recommendatioDates[i.index].isConsumerMeter =='Yes'}"
							class="fa fa-bell-o mr-1 text-success"> To submit meter
							information <a style="text-decoration: underline;"
							title="Add Solar Attachment" href="#"
							th:href="@{/officer/meterentry(applicationId=*{appInfo.id})}">Please
								click here</a>
						</label>
					</div>
				</div>
				<div id="modalHolder"></div>
				<div id="attachmentModalHolder"></div>
			</fieldset> -->

		</div>
				
			</div>
			<div th:if="${not #lists.isEmpty(applicationInformations)}"
			class="col-sm-4">
				<div class="dash-highlight mb-3">
					<i class="fa fa-compass dash-highlight-icon" aria-hidden="true"></i>
					<span class="dash-highlight-number" th:text="${appCount}"></span><br>
					Applications
				</div>
				<div class="dash-highlight mb-3">
					<i class="fa fa-bolt dash-highlight-icon" aria-hidden="true"></i>
					<span class="dash-highlight-number" th:text="${connectedAppCount}"></span><br>
					Connections
				</div>
				
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">

                            <div class="knob-label">Mail-Orders</div>
                        </div>

                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">

                            <div class="knob-label">Online</div>
                        </div>
  
                        <div class="col-xs-4 text-center">
                            <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">

                            <div class="knob-label">In-Store</div>
                        </div>

                    </div>

                </div>
					</div>
				</div>
			</div>
		</div>

		
		<div th:if="${#lists.isEmpty(applicationInformations)}">
			<div class="alert alert-info alert-styled-left" role="alert">
				<div class="row">
					<div class="col-sm-9 h5">You do not have any application to
						display. Please consider applying for a new connection.</div>
					<div class="col-sm-3 text-sm-right">
						<a th:href="@{/nc/apply}" class="btn btn-primary">Apply Here</a>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<div class="grid-pagination"
			th:if="${not #lists.isEmpty(applicationInformations.content)}">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="text-center">
						<nav>
							<ul class="pagination" sd:pagination="full">
								<li class="disabled"><a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
								</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-md-3 pull-right text-right">
					<div sd:pagination-summary=""></div>
				</div>
			</div>
		</div>

		<div class="row"></div>
		<!-- /.row (main row) -->
	</div>
	<th:block layout:fragment="styles">
		<link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}" />
		<link rel="stylesheet" th:href="@{/dist/css/jquery.fancybox.min.css}"
			media="screen">
	</th:block>
	<th:block layout:fragment="script">
	
		<script src="/dist/js/moment-with-locales.js"></script>
		<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
		<script src="/dist/js/jquery.fancybox.min.js"></script>
		<script src="/plugins/validator.min.js"></script>
		<script src="/plugins/knob/jquery.knob.js"></script>
	
		<script type="text/javascript">
			function paymentModal(id) {
				$.ajax({
					url : "/nc/viewDemandNotePayment/" + id,

					success : function(data) {
						$("#modalHolder").html(data);
						$("#demandNoteFeesModal").modal("show");
					}
				});
			};

			function addAttachmentModal(id) {
				$.ajax({
					url : "/officer/addSolarAttachmentModal/" + id,

					success : function(data) {
						$("#attachmentModalHolder").html(data);
						$("#solarAttachmentModal").modal("show");

						$('#installDate').datepicker({
							format : "dd-mm-yyyy",
							todayHighlight : true,
							forceParse : false,
							pickDate : false,
							autoclose : true,
						});

						var x = document
								.getElementById("idAttachmentMessagePanel");
						x.style.display = "none";
					}
				});
			};
			
		$(document)
				.ready(
						function() {
							$(".fancybox").fancybox({
								openEffect : "none",
								closeEffect : "none"
							});
							
							$(".knob").knob();
						});
	</script>

	</th:block>
</body>
</html>