<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout-newconnection}">
<head>
<title>List of Load Sanction Authority Information</title>
</head>
<body>
	<div layout:fragment="breadcrumb">
		<h1>Load Sanction Authority Information</h1>
		<ol class="breadcrumb">
			<li><a href="#" th:href="@{/}"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Load Sanction Authority Information</li>
		</ol>
	</div>
	<div layout:fragment="content">

		<div class="box box-primary">
			<div class="box-body">


				<div th:if="${message != null}"
					class="panel panel-default fade in collapse alert alert-info"
					style="padding: 5px;" id="idMessagePanel">
					<div>
						<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
						</a>
					</div>
					<div class="panel-body" th:text="${message}"></div>
				</div>

				<div class="table-responsive">
					<div id="toolbar">
						<form th:action="@{/loadsanctionauthority/list}" method="get">
							<div class="input-group grid-top-left-tools">
								<input type="text" name="value" class="form-control pull-right"
									placeholder="Enter any keyword" th:if="${key} == null" /> <input
									type="text" name="value" class="form-control pull-right"
									placeholder="Enter any keyword" th:if="${key} != null"
									th:value="${key}" />
								<div class="input-group-btn">
									<button type="submit" name="action" value="submit"
										class="btn btn-default">
										<i class="fa fa-search text-primary"></i>
									</button>
								</div>
								<div class="input-group-btn">
									<button type="submit" name="action" value="reset"
										class="btn btn-default">
										<i class="fa fa-refresh text-primary"></i>
									</button>
								</div>
							</div>
							<a sec:authorize="hasRole('ROLE_LOAD_SANCTION_AUTHORITY_ADD')"
								href="#" class="btn btn-default"
								th:href="@{/loadsanctionauthority/add}"
								title="Go to Add New Page"><span
								class="fa fa-plus-circle text-green mr-1"></span>Load
								Sanction Authority</a>
						</form>
					</div>
					<table data-toolbar="#toolbar"
						class="table table-bordered table-hover" data-toggle="table"
						data-show-columns="true" id="exportTable" data-resizable="true"
						data-show-export="true" data-click-to-select="true">
						<thead class="bg-secondary">
							<tr class="bg-secondary">
								<th class="table-action-header">Actions</th>
								<th>SL</th>
								<th class="text-center"><a class="fa fa-fw fa-sort"><a
										class="sorted" sd:pagination-sort="snDInformation.name">S&D</th>
								<th class="text-center"><a class="fa fa-fw fa-sort"><a
										class="sorted" sd:pagination-sort="designation.designation">Designation</th>
								<th class="text-center">Allowed Load Range</th>
								<th class="text-center"><a class="fa fa-fw fa-sort"><a
										class="sorted" sd:pagination-sort="sortOrder">Sort Order</th>
							</tr>
						</thead>

						<tbody id="myTable">
							<tr th:each="st,iter : ${loadSanctionAuthorities}"
								data-title="bootstrap table">
								<td><a
									sec:authorize="hasRole('ROLE_LOAD_SANCTION_AUTHORITY_EDIT')"
									href="#" class="btn btn-sm btn-default btn-edit"
									th:href="@{/loadsanctionauthority/add(id=${st.id})}"
									title="Edit Load Sanction Authority Information"><span
										class="fa fa-edit text-success"></span> Edit</a> <!-- <a
									sec:authorize="hasRole('ROLE_LOAD_SANCTION_AUTHORITY_DELETE')"
									href="#" class="btn btn-sm btn-default btn-delete"
									th:href="@{/metermanufacturer/delete(id=${st.id})}"
									title="Delete Meter Manufacturer Information"><span
										class="glyphicon glyphicon-remove text-danger"></span></a> -->
								</td>
								<td th:text="${iter.count}">SL</td>
								
							<!-- 	<td>
								<span th:text="${st.snDInformation.name == null} ? ${st.snDtype} : ${st.snDInformation.name}"></span>
								<span th:if="${st.snDInformation.name }" != NULL th:text="${st.snDInformation.name}"></span>
								<span th:if="${st.snDInformation.name }" == NULL th:text="${st.snDtype}"></span>
								
								<span th:if="${st.snDInformation.name = null}" th:text="${st.snDtype}"></span>
								<span th:if="${st.snDInformation.name != null}" th:text="${st.snDInformation.name}"></span>
								
								</td> -->
								
								<td class="text-left" th:text="${st.snDInformation != null ? st.snDInformation.name : 'All'}">Snd</td>
								<td class="text-left" th:text="${st.designation.designation}">Designation</td>
								<td class="text-left"
									th:text="${st.loadFrom} + '-' + ${st.loadTo}">Allowed Load Range</td>
								<td class="text-left" th:text="${st.sortOrder}">Sort
									Order</td>
							</tr>
							<tr th:if="${#lists.isEmpty(loadSanctionAuthorities.content)}">
								<td colspan="13" class="text-center">No data available</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="grid-pagination"
				th:if="${not #lists.isEmpty(loadSanctionAuthorities.content)}">

				<div class="row">
					<div class="col-md-3">
						Show <span sd:page-size-selector="javascript"></span> entries
					</div>
					<div class="col-md-6">
						<div class="text-center">
							<nav>
								<ul class="pagination" sd:pagination="full">
									<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
									<li class="disabled"><a href="#" aria-label="Previous"><span
											aria-hidden="true">&laquo;</span></a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-md-3 pull-right text-right">
						<div sd:pagination-summary=""></div>
					</div>
				</div>

			</div>

		</div>

		<!-- #Modal for removing -->
		<div th:include="deleteModal/del_modal"></div>

	</div>
	<th:block layout:fragment="script">
		<script>
			$(document)
					.ready(
							function() {
								setTimeout(
										function() {
											document
													.getElementById('idMessagePanel').style.display = 'none';
										}, 5000);
							});

			$("#idSearch").on(
					"keyup",
					function() {
						var value = $(this).val().toLowerCase();
						$("#myTable tr").filter(
								function() {
									$(this).toggle(
											$(this).text().toLowerCase()
													.indexOf(value) > -1)
								});
					});
		</script>

		<script>
			var $table = $('#exportTable')
			var $remove = $('#remove')
			var selections = []

			function initTable() {
				$table.bootstrapTable('destroy').bootstrapTable({
					height : 550,
					locale : $('#locale').val()
				})

			}

			$(function() {
				initTable()

				$('#locale').change(initTable)
			})
		</script>

	</th:block>
</body>
</html>