<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{web}">
<head>
<title th:text="#{title.userRegistration}">User Registration</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid py-4">
			<div class="card">
				<div class="card-body">
					<form role="form" th:action="@{/userregistration/savepublic}"
						th:object="${userRegistration}" method="post"
						enctype="multipart/form-data" data-toggle="validator">

						<h2 class="mt-0" th:text="#{title.userRegistration}">User
							Registration</h2>
						<p th:text="#{lable.enterYourDetails}">Enter your details to
							create an account</p>
						<div th:if="${message != null}"
							class="panel panel-default fade in collapse alert alert-info"
							style="margin: 10px; padding: 5px; background: #9FDEAE;"
							id="idMessagePanel">
							<div>
								<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
								</a>
							</div>
							<div class="panel-body" th:text="${message}"></div>
						</div>
						<div th:if="${errorMessage != null}"
							class="panel panel-default fade in collapse alert alert-danger"
							style="margin: 5px; padding: 5px; background: #9FDEAE;"
							id="idMessagePanel">
							<div>
								<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
								</a>
							</div>
							<div class="panel-body" th:text="${errorMessage}"></div>
						</div>
						<hr
							style="margin-top: 5px !important; margin-bottom: 5px !important;">
						<div class="with-border">
							<div class="">
								<div class="box-body">
									<div class="">
										<div class="">
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label for="applicantType" class="val-required"
															th:text="#{lable.applicationType}">Applicant Type</label>
														<select class="form-control" title="Please Select ..."
															th:field="*{applicantType}" required id="applicantType">
															<option
																th:each="applicantType : ${T(com.tvl.desco.admin.enumeration.ApplicantType).values()}"
																th:value="${applicantType}"
																th:text="${applicantType.displayName}">Select
																Applicant Type</option>
														</select>
														<div th:if="${!#fields.hasErrors('applicantType')}"
															class="help-block">Application type is required</div>
														<div class="help-block" th:errors="*{applicantType}"></div>
													</div>
												</div>
												<div class="col-sm-6" id="idConsumerAccountNo">
													<div class="form-group">
														<label for="consumerAccountNo" class="val-required"
															th:text="#{lable.consumerAccountNo}">Consumer Account No.</label>

														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-qrcode" aria-hidden="true" id="nidType"></i>
															</div>
															<input type="text" th:field="*{consumerAccountNo}" name="consumerAccountNo" class="form-control"
																id="consumerAccountNo" th:placeholder="#{lable.consumerAccountNo}" maxlength="10"/>
														</div>
														<label style="display: none;" class="text-warning" id="lblWarning"></label>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-2">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('applicantNIDPassportType')} ? 'has-error has-danger' : ''">
														<label for="applicantNIDPassportType" class="val-required"
															th:text="#{lable.typeOfvalidId}">Type of Valid ID</label>
														<select class="form-control"
															th:field="*{applicantNIDPassportType}" required
															id="applicantNIDPassportType">
															<option
																th:each="applicantNIDPassportType : ${T(com.tvl.desco.admin.enumeration.ApplicantNIDPassportType).values()}"
																th:value="${applicantNIDPassportType}"
																th:text="${applicantNIDPassportType.displayName}">Select
																NID/Passport/Birth Certificate</option>
														</select>
														<div th:if="${!#fields.hasErrors('applicantNIDPassportType')}" class="help-block">Type of Valid ID is required</div>
														<div class="help-block" th:errors="*{applicantNIDPassportType}"></div>
													</div>
												</div>
												<div class="col-sm-4" id="idNIDField">
													<div class="form-group" th:classappend="${#fields.hasErrors('NIDPassportBirthCertificate')} ? 'has-error has-danger' : ''">
														<label for="NIDPassportBirthCertificate" id="lblNIDPassportBirthCertificate" class="val-required" th:text="#{lable.NIDNumber}">NID Number</label>
														<span class="pull-right text-danger" id="nidHelp" th:title="#{nid.help}" data-toggle="tooltip">
															<i class="fa fa-question-circle" aria-hidden="true"></i>
														</span>

														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-hashtag" aria-hidden="true"></i>
															</div>
															<input type="text"
																th:field="*{NIDPassportBirthCertificate}"
																name="NIDPassportBirthCertificate" class="form-control"
																id="NIDPassportBirthCertificate"
																placeholder="NID Number" autocomplete="off"
																   maxlength="20" />
														</div>
														<!--inputmode="text"  pattern="\d*"-->
														<!-- <div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-hashtag" aria-hidden="true"></i>
															</div>
															<input type="text"
																th:field="*{NIDPassportBirthCertificate}" 
																name="NIDPassportBirthCertificate" class="form-control"
																id="NIDPassportBirthCertificate"
																th:placeholder="#{lable.birthCertificateNumber}" autocomplete="off"
																inputmode="numeric"
																pattern="^([0-9]{10})$|^([0-9]{13})$|^([0-9]{17})$" maxlength="17"/>
														</div>
														<div
															th:if="${!#fields.hasErrors('NIDPassportBirthCertificate')}"
															class="help-block" th:text="#{validation.BirthCertificateRange}">Birth Certificate length must be 10 or 13 or
															17</div> -->
														<div class="help-block"
															th:errors="*{NIDPassportBirthCertificate}"></div>
													</div>
													<div class="text-danger" id="lblValidateNID"></div>

												</div>

												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('applicantName')} ? 'has-error has-danger' : ''">
														<label for="applicantName" class="val-required"
															th:text="#{lable.applicantName}" id="namelbl">Applicant Name</label>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-user" aria-hidden="true"></i>
															</div>
															<input type="text" th:field="*{applicantName}" required
																name="applicantName" class="form-control"
																id="applicantName"
																placeholder="Applicant Name" maxlength="50" />

														</div>
														<div th:if="${!#fields.hasErrors('applicantName')}"
															class="help-block" th:text="#{validation.applicantName}">Applicant
															name is required</div>
														<div class="help-block" th:errors="*{applicantName}"></div>
													</div>
												</div>

											</div>

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('fatherName')} ? 'has-error has-danger' : ''">
														<label for="fatherName" class="val-required"
															th:text="#{lable.fathersName}">Father's Name</label>

														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-male" aria-hidden="true"></i>
															</div>
															<input type="text" th:field="*{fatherName}" required
																name="fatherName" class="form-control" id="fatherName"
																placeholder="Father's Name" maxlength="50" />

														</div>
														<div th:if="${!#fields.hasErrors('fatherName')}"
															class="help-block" th:text="#{valodation.fathersName}">Father's
															name is required</div>
														<div class="help-block" th:errors="*{fatherName}"></div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('motherName')} ? 'has-error has-danger' : ''">
														<label for="motherName" class="val-required"
															th:text="#{lable.mothersName}">Mother's Name</label>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-female" aria-hidden="true"></i>
															</div>
															<input type="text" th:field="*{motherName}" required
																name="motherName" class="form-control" id="motherName"
																placeholder="Mother's Name" maxlength="50" />
														</div>
														<div th:if="${!#fields.hasErrors('motherName')}"
															class="help-block" th:text="#{validation.mothersName}">Mother's
															name is required</div>
														<div class="help-block" th:errors="*{motherName}"></div>
													</div>
												</div>
											</div>
											<div class="row">

												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('gender')} ? 'has-error has-danger' : ''">
														<label for="gender" class="val-required"
															th:text="#{lable.gender}">Gender</label>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-venus-mars" aria-hidden="true"></i>
															</div>
															<select class="form-control" th:field="*{gender}"
																required id="gender">
																<option value="" th:text="#{lable.genderDropdown}">Select
																	the Gender</option>
																<option
																	th:each="gender : ${T(com.tvl.desco.admin.enumeration.Gender).values()}"
																	th:value="${gender}" th:text="${gender.displayName}">Select
																	Gender</option>
															</select>
														</div>
														<div th:if="${!#fields.hasErrors('gender')}"
															class="help-block" th:text="#{validation.gender}">Gender
															is required</div>
														<div class="help-block" th:errors="*{gender}"></div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'has-error has-danger' : ''">
														<label for="dateOfBirth" class="val-required"
															th:text="#{lable.dateOfBirth}">Date of Birth</label>
														<div class='input-group date' id='dateOfBirth'>
															<span class="input-group-addon"> <i
																class="fa fa-calendar" aria-hidden="true"></i>
															</span><input type='text' class="form-control"
																th:field="*{dateOfBirth}" name="dateOfBirth" required
																autocomplete="off" />
														</div>
														<div th:if="${!#fields.hasErrors('dateOfBirth')}"
															class="help-block" th:text="#{validation.dateOfBirth}">Date
															of Birth is required</div>
														<div class="help-block" th:errors="*{dateOfBirth}"></div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group email-validation"
														th:classappend="${#fields.hasErrors('email')} ? 'has-error has-danger' : ''">
														<label for="email" th:text="#{lable.email}">Email</label>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-envelope" aria-hidden="true"></i>
															</div>
															<input type="email" th:field="*{email}" name="email"
																class="form-control" id="email"
																placeholder="someone@example.com" />

														</div>
													</div>
												</div>

												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('phoneNo')} ? 'has-error has-danger' : ''">
														<label for="phoneNo" class="val-required" th:text="#{lable.mobilePhoneNumber}">Mobile Phone Number</label>
														<span class="text-danger" id="mobileHelp" title="If the mobile no. is not valid, please input the active mobile number." data-toggle="tooltip">
															<i class="fa fa-question-circle" aria-hidden="true"></i>
														</span>
														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-mobile" aria-hidden="true"></i>
															</div>
															<input type="text" th:field="*{phoneNo}" required
																name="phoneNo" class="form-control" id="phoneNo"
																placeholder="eg. 01#########" pattern="^\d{11}$"
																inputmode="numeric" minlength="11" maxlength="11"
																onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />

														</div>
														<div th:if="${!#fields.hasErrors('phoneNo')}"
															class="help-block"
															th:text="#{validation.mobilePhoneNumber}">Mobile
															phone number is required</div>
														<div class="help-block" th:errors="*{phoneNo}"></div>
													</div>
												</div>
											</div>

											<div class="row">

												<div class="col-sm-3">
													<div class="form-group image-form-group"
														th:classappend="${userRegistration.photo != null} ? has-image : ''">
														<label for="user_photo" class="d-block val-required"
															th:text="#{lable.attachPhoto}">Attach Photo</label>
														<div class="image-input">
															<div class="btn btn-default btn-sm btn-file">
																<input type="file" id="user_photo" name="user_photo" class="image-field"
																	accept=".jpg,.gif,.png,.bmp" required> <i
																	class="fa fa-image mr-1" aria-hidden="true"
																	th:utext="#{button.chooseImageTitle}"></i>
															</div>
															<span class="label label-danger ml-2 file-has-error"
																th:text="#{validation.required}">Required</span>
														</div>
														<div class="image-preview-holder"
															th:classappend="${userRegistration.photo != null} ? fancybox : ''"
															th:href="${userRegistration.photo != null ? userRegistration.photo : ''}">
															<button type="button"
																class="btn btn-sm btn-danger btn-close-preview">&times;</button>
															<img th:src="${userRegistration.photo}"
																alt="Uploaded Image" class="image-preview mw-100"
																width="200">
														</div>
														<input type="hidden" class="image-existing">
													</div>
												</div>

												<div class="col-sm-3">
													<div class="form-group image-form-group"
														th:classappend="${userRegistration.document != null} ? has-image : ''">
														<label for="file" id="idAttach" class="d-block"
															th:text="#{lable.attachNID}">Attach NID</label>
														<div class="image-input">
															<div class="btn btn-default btn-sm btn-file">
																<input type="file" name="file" id="nidOrPassportPath" class="image-field"
																	accept=".jpg,.gif,.png,.bmp" > <i
																	class="fa fa-image mr-1" aria-hidden="true"
																	th:utext="#{button.chooseImageTitle}"></i>
																<!-- Choose
																Image... -->
															</div>
														</div>
														<div class="image-preview-holder"
															th:classappend="${userRegistration.document != null} ? fancybox : ''"
															th:href="${userRegistration.document != null ? userRegistration.document : ''}">
															<button type="button"
																class="btn btn-sm btn-danger btn-close-preview">&times;</button>
															<img th:src="${userRegistration.document}"
																alt="Uploaded Image" class="image-preview mw-100"
																width="200">
														</div>
														<input type="hidden" class="image-existing">
													</div>
												</div>

												<div class="col-sm-6">
													<div class="form-group"
														th:classappend="${#fields.hasErrors('captcha')} ? 'has-error has-danger' : ''">
														<label for="captcha" class="d-block val-required"
															th:utext="#{lable.capcha}">Captcha <span
															class="text-muted small">(Please type here what
																you see in the image)</span>
														</label>
														<div class="row">
															<div class="col-sm-4">
																<div class="rounded" style="background-color: #ededed">
																	<img th:src="|data:image/png;base64,${captchaEncode}|"
																		style="height: 35px;" />
																</div>
															</div>
															<div class="col-sm-8">
																<input class="form-control" name="captcha"
																	id="captcha" th:placeholder="#{lable.capchaMessage}"
																	required />
																<div th:if="${!#fields.hasErrors('captcha')}"
																	class="help-block" th:text="#{validation.capcha}">Captcha
																	is required</div>
																<div class="help-block" th:errors="*{captcha}"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<input type="hidden" id="id" name="id" th:field="*{id}" />
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group" id="divAddress">
							<label for="address" th:text="#{lable.contactAddress}">Contact Address</label>
							<textarea rows="2" th:field="*{address}" name="address" class="form-control" id="address"
								th:placeholder="#{lable.contactAddress}">
							</textarea>
						</div>
						
						<input type="hidden" id="existingAddress" name="existingAddress">
						<input type="hidden" id="existingValid" value="true">

						<div class="text-right">
							<button class="btn btn-primary" type="submit" name=btnSubmit
								id="btnSubmit" value="SaveClose"
								th:title="#{button.registerTitle}" th:text="#{button.register}">
								<i class="fa fa-floppy-o mr-1 text-default"></i> Register
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<th:block layout:fragment="styles">
		<link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}" />
		<link rel="stylesheet" th:href="@{/dist/css/jquery.fancybox.min.css}" media="screen">
		<style>
			.tooltip-inner {
			   	max-width: 350px;
			}
		</style>
	</th:block>
	<th:block layout:fragment="script">
		<!-- <script src="/plugins/validator.min.js"></script> -->
		<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
		<script src="/plugins/bootstrap-validator/validator.min.js"></script>
		<script src="/dist/js/jquery.fancybox.min.js"></script>

		<script type="text/javascript">
			$(document)
					.ready(
							function() {
								
								$('form').submit(
										function() {
											$("#btnSubmit").prop("disabled", true)
													.addClass("disabled");
											setTimeout(function() {
												$("#btnSubmit").prop('disabled',
														false).removeClass(
														"disabled");
											}, 15 * 1000);
										});

								$(".fancybox").fancybox({
									openEffect : "none",
									closeEffect : "none"
								});

								$("#idConsumerAccountNo").hide();
								$('#dateOfBirth').datepicker({
									format : "dd-mm-yyyy",
									todayHighlight : true,
									forceParse : false,
									pickDate : false,
									autoclose : true,
								});

								let idType = $("#applicantNIDPassportType").val();
								let lableNID = '[[#{lable.NIDNumber}]]';
								let lablepassport = '[[#{lable.passportNumber}]]';
								let lableAttachNID = '[[#{lable.attachNID}]]';
								let lableAttachPassport = '[[#{lable.attachPassport}]]';
								if(idType == "Passport"){
									$("#lblNIDPassportBirthCertificate").text(lablepassport);
									$("#idAttach").text(lableAttachPassport);
									$('#nidOrPassportPath').attr('required', '');
									$("#idAttach").addClass("val-required");
								} else {
									$("#lblNIDPassportBirthCertificate").text(lableNID);
									$("#idAttach").text(lableAttachNID);
									$("#idAttach").removeClass("val-required");
									$('#nidOrPassportPath').removeAttr('required');
								}

								$("#imgOutput").hide();
								$("#lblValidateNID").hide();

								var minNIDLength = 10;
								var maxNIDLength = 17;
								var validationNid = '[[#{validation.NIDDigitRange}]]';
								var validationPassport = '[[#{validation.PassportDigitRange}]]';
								var validationBirthCertificate = '[[#{validation.BirthCertificateRange}]]';

								$("#NIDPassportBirthCertificate").on("keydown keyup change",
										function() {
											var e = document.getElementById("applicantNIDPassportType");
											var lblText = e.options[e.selectedIndex].value;
											if (lblText == "NID") {
												var value = $(this).val();
												
												if (!isNaN(value) && value.length == minNIDLength || value.length == maxNIDLength ) {
													$("#lblValidateNID").hide();
												} else {
													$("#lblValidateNID").show();
													$('#lblValidateNID').html(validationNid);
												}
											} else if (lblText == "Passport") {
												var value = $(this).val();
												if (value.length == 9) {
													$("#lblValidateNID").hide();
												} else {
													$("#lblValidateNID").show();
													$('#lblValidateNID').html(validationPassport);
												}
											} else {
												var value = $(this).val();
												if (!isNaN(value) && value.length == 19) {
													$("#lblValidateNID").hide();
												} else {
													$("#lblValidateNID").show();
													$('#lblValidateNID').html(validationBirthCertificate);
												}
											}
										}
								);

								/* var minLength = 11;
								var maxLength = 11;

								$("#phoneNo")
										.on(
												"keydown keyup change",
												function() {
													var value = $(this).val();
													if (value.length < minLength) {
														$("#lblValidateMobile")
																.show();
														$('#lblValidateMobile')
																.html(
																		'Please insert 11 digit mobile no.');
														$("#btnSubmit").hide();
													} else if (value.length > maxLength) {
														$("#lblValidateMobile")
																.show();
														$('#lblValidateMobile')
																.html(
																		'Please insert 11 digit mobile no.');
														$("#btnSubmit").hide();
													} else {
														$("#lblValidateMobile")
																.hide();
														$("#btnSubmit").show();
													}
												}); */

								/* $('.email-validation input:first')
										.on(
												'keyup',
												function() {
													var valid = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/
															.test(this.value)
															&& this.value.length;
													if (valid == false) {
														$('#lblInvalidEmail')
																.show();
														$('#lblInvalidEmail')
																.html(
																		'Invalid Email');
														$("#btnSubmit").hide();
													} else {
														$('#lblInvalidEmail')
																.hide();
														$("#btnSubmit").show();
													}
												}); */
							}
					);
		</script>

		<script type="text/javascript">
		
			$(document).ready(
				function() {
					var selectedValue = $("#applicantType").val();
					if (selectedValue != '' && selectedValue == "Existing") {
						$("#idConsumerAccountNo").show();
						$("#divAddress").hide();
						$("#mobileHelp").show();
					
					} else {
						$("#idConsumerAccountNo").hide();
						$("#divAddress").show();
						$("#mobileHelp").hide();
						
					}
				}
			);
		
		
			
			$(function() {
			    $(document).on('change', '#applicantType', function() {
					let consumerNameLable = '[[#{lable.consumerName}]]';
					let applicantNameLable = '[[#{lable.applicantName}]]';
					if (this.value == 'Existing') {
			            $('#applicantName').prop('readonly', true);
			            $("#namelbl").text(consumerNameLable);
			            $("#applicantName").attr('placeholder', consumerNameLable);
			        } else {
			            $('#applicantName').prop('readonly', false);
			            $("#namelbl").text(applicantNameLable);
			            $("#applicantName").attr('placeholder', applicantNameLable);
						
			        }
			    });
			});
		
			$(function() {
				$("#applicantType").change(function() {
					var selectedText = $(this).find("option:selected").text();
					var selectedValue = $(this).val();
					$("#address").val('');
					$("#existingValid").val(true);
					if (selectedValue == "Existing") {
						$("#idConsumerAccountNo").show();
						$("#divAddress").hide();
						$("#mobileHelp").show();
					} else {
						$("#idConsumerAccountNo").hide();
						$("#divAddress").show();
						$("#mobileHelp").hide();
					}

				});

				
				

				$("#applicantNIDPassportType").change(
								function() {
									var selectedText = $(this).find("option:selected").text();
									var selectedValue = $(this).val();
									var lableNID = '[[#{lable.NIDNumber}]]';
									var lablepassport = '[[#{lable.passportNumber}]]';
									var lablebirthCertificate = '[[#{lable.birthCertificateNumber}]]';

									var lableAttachNID = '[[#{lable.attachNID}]]';
									var lableAttachPassport = '[[#{lable.attachPassport}]]';
									var lableAttachBirthCertificate = '[[#{lable.attachBirthCertificate}]]';

									if (selectedValue == "NID") {
										$("#lblNIDPassportBirthCertificate").text(lableNID);
										$("#idAttach").text(lableAttachNID);
										$("#NIDPassportBirthCertificate").val('');
										$("#NIDPassportBirthCertificate").attr('placeholder', lableNID);
										$('#lblValidateNID').hide();
										$('#nidHelp').show();
										$("#idAttach").removeClass("val-required");
										$('#nidOrPassportPath').removeAttr('required');
									} else if (selectedValue == "Passport") {
										$("#lblNIDPassportBirthCertificate").text(lablepassport);
										$("#idAttach").text(lableAttachPassport);
										$("#NIDPassportBirthCertificate").val('');
										$("#NIDPassportBirthCertificate").attr('placeholder', lablepassport);
										$('#lblValidateNID').hide();
										$('#nidHelp').hide();
										$("#idAttach").addClass("val-required");
										$('#nidOrPassportPath').attr('required', '');
									} else {
										$("#lblNIDPassportBirthCertificate").text(lablebirthCertificate);
										$("#idAttach").text(lableAttachBirthCertificate);
										$("#NIDPassportBirthCertificate").val('');
										$("#NIDPassportBirthCertificate").attr('placeholder',lablebirthCertificate);
										$('#lblValidateNID').hide();
										$('#nidHelp').hide();
									}

								});
			});
			
			$('#consumerAccountNo').on('input', function(){
				var consumerAccountNo = $(this).val();
				if(consumerAccountNo.length >= 8){
					$.ajax({
			            url : '/publicinfo/account-check',
			            data : 'ACNo=' + consumerAccountNo,
			            success : function(data) {
			            	if(data){
			            		$('#lblWarning').hide();
			            		$("#existingValid").val(true);
								$("#applicantName").val(data._NAME);
								$("#phoneNo").val(data._MOBILE_NO);
								$("#existingAddress").val(data._STREET_ADDRESS);
			            	}else{
			            		//Already registered or, Account No. not found.
			            		$('#lblWarning').show().text("Try another account number!");
			            		$("#existingValid").val(false);
			            		$("#applicantName").val("");
								$("#phoneNo").val("");
								$("#existingAddress").val("");
			            	}
			            }
			        });
				}
			});
			
			$('form').submit(function (event) {
				if(($("#applicantType").val() == "Existing") && ($("#existingValid").val() == 'false')){
					event.preventDefault();
					alert("Try another account number!");
				}else{
					var forms = document.getElementsByClassName('needs-validation');
					var validation = Array.prototype.filter.call(forms,
							function(form) {
								form.addEventListener('submit', function(event) {
									if (form.checkValidity() === false) {
										event.preventDefault();
										event.stopPropagation();
									}
							form.classList.add('was-validated');
						}, false);
					});
				}
			});

			function submitMe() {
				$("#imgOutput").show();
				var output = document.getElementById('output');
				output.src = URL.createObjectURL(event.target.files[0]);
			}
		</script>

	</th:block>

</body>
</html>