<div id="exTab2">
	<ul class="nav nav-tabs" id="myTabW">
		<li class="active"><a href="#1wa" data-toggle="tab">Connection
				Place Status</a></li>
		<li th:if="${ncWiringInspectionReportInformation.id != null}"><a
			href="#2wa" data-toggle="tab">Connection/Meter List</a></li>
		<li th:if="${ncWiringInspectionReportInformation.id == null}"><a>Connection/Meter
				List</a></li>
	</ul>

	<div class="tab-content clearfix" style="margin-top: 5px;">
		<div class="tab-pane active" id="1wa">
			<!-- add form -->
			<form role="form" th:action="@{/officer/wiringinspection}"
				th:object="${ncWiringInspectionReportInformation}" method="post"
				enctype="multipart/form-data" class="needs-validation" novalidate
				id="form">
				<div class="text-right">
					<div class="btn-group" role="group">
						<!-- <a
																	th:if="${ncWiringInspectionReportInformation.id != null}"
																	class="btn btn-default mr-1 " data-toggle="modal"
																	data-target="#exampleModal" title="Submit to Officer"><span
																	class="fa fa-forward mr-1 text-primary"></span> Forward</a> -->
						<button class="btn btn-default" type="submit" name=btnSubmit
							id="btnSubmit" value="SaveReload" title="Save & Reload">
							<i class="fa fa-floppy-o mr-1 text-primary"></i>Save
						</button>
					</div>

				</div>
				<div class="">

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="trackingNumber" class="val-required">Tracking
									Number</label> <input type="text"
									th:value="${applicationInformation.trackingNumber}"
									th:name="trackingNumber" class="form-control" readonly
									th:id="trackingNumber" placeholder="auto generated" />
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inspectionDate" class="val-required">Inspection
									Date</label>
								<div class='input-group date' id='inspectionDate'>
									<input type='text' class="form-control"
										th:value="${#dates.format(#dates.createNow(),'dd-MM-yyy')}"
										th:id="inspectionDate" th:name="inspectionDate" required
										autocomplete="off" /> <span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<fieldset class="col-md-12">
						<legend class="legend-text-color" id="possession-owner">Connection
							Place Status </legend>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isInternalWiringFinished" class="val-required">Is
										Internal Wiring Finished?</label> <select
										class="selectpicker form-control" data-live-search="true"
										data-size="10" title="Please Select ..."
										th:field="*{isInternalWiringFinished}" required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isInternalWiringFinished}"> Error</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isMeterBoardInstalled" class="val-required">Is
										Meter Board Installed?</label> <select
										class="selectpicker form-control" data-live-search="true"
										data-size="10" title="Please Select ..."
										th:field="*{isMeterBoardInstalled}" required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isMeterBoardInstalled}"> Error</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isServiceDropViewable" class="val-required">Is
										Service drop Viewable?</label> <select
										class="selectpicker form-control" data-live-search="true"
										data-size="10" title="Please Select ..."
										th:field="*{isServiceDropViewable}" required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isServiceDropViewable}"> Error</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isEarthingCompleted" class="val-required">Is
										Earthing Completed?</label> <select class="selectpicker form-control"
										data-live-search="true" data-size="10"
										title="Please Select ..." th:field="*{isEarthingCompleted}"
										required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isEarthingCompleted}"> Error</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isDistanceWithin10m" class="val-required">Is
										Distance from Service Pipe to Board within 10m?</label> <select
										class="selectpicker form-control" data-live-search="true"
										data-size="10" title="Please Select ..."
										th:field="*{isDistanceWithin10m}" required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isDistanceWithin10m}"> Error</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="isDistanceWithin30m" class="val-required">Is
										Distance from Service Pole to Service Pipe within 30m?</label> <select
										class="selectpicker form-control" data-live-search="true"
										data-size="10" title="Please Select ..."
										th:field="*{isDistanceWithin30m}" required>
										<option th:each="yesNo : ${yesNo}"
											th:text="${yesNo.displayName}" th:value="${yesNo}"></option>
									</select> <label class="control-label error-label"
										th:errors="*{isDistanceWithin30m}"> Error</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="earthTesterSpecification">Earth Tester
										Specification</label> <input type="text"
										th:field="*{earthTesterSpecification}"
										name="earthTesterSpecification" class="form-control"
										id="earthTesterSpecification"
										placeholder="Earth Tester Specification" /> <label
										class="control-label error-label"
										th:if="${#fields.hasErrors('earthTesterSpecification')}"
										th:errors="*{earthTesterSpecification}"> Error </label>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label for="remarks">Remarks</label>
									<textarea rows="3" th:field="*{remarks}" name="remarks"
										class="form-control" id="remarks" placeholder="Remarks"></textarea>
									<label class="control-label error-label"
										th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">
										Error </label>
								</div>
							</div>
						</div>

					</fieldset>

					<input type="hidden" id="applicationId" name="applicationId"
						th:value="${applicationInformation.id}" /> <input type="hidden"
						id="id" name="id" th:field="*{id}" />
				</div>
				<!-- /.box-body -->
			</form>
		</div>
		<div class="tab-pane" id="2wa">
			<div class="box box-primary" style="margin-top: 10px">
				<div class="box-body">
					<div class="table-responsive">
						<table data-toolbar="#toolbar"
							class="table table-bordered table-hover table-expandable"
							data-toggle="table" id="exportTable" data-resizable="true"
							data-click-to-select="true">
							<thead>
								<tr class="bg-secondary">
									<th th:if="${ncWiringInspectionReportInformation.id != null}">Action</th>
									<th>Tracking Serial</th>
									<th>Applicant Name</th>
									<th>Mobile</th>
									<th>NID</th>
									<th>Previous Load (KW)</th>
									<th>Applied Load (KW)</th>
									<th>Phase</th>
									<th>Tariff Category</th>
									<th>Tariff</th>
								</tr>
							</thead>
							<tbody id="myTable">
								<div th:each="st,iter : ${meterList}">
									<tr>
										<td th:if="${ncWiringInspectionReportInformation.id != null}"><a
											th:href="@{/officer/loadrecommendationforwiringinspector(meterId=${st.id},inspectionId=${ncWiringInspectionReportInformation.id})}"
											class="btn btn-sm btn-default" title="Add Load"><span
												class="fa fa-edit text-success"></span></a></td>
										<td th:text="${st.trackingSerialNumber}"
											class="tracking-sl-color">Tracking Serial No.</td>
										<td th:text="${st.name}">Applicant Name</td>
										<td th:text="${st.mobile}">Mobile</td>
										<td th:text="${st.nationalID}">NID</td>
										<td th:text="${st.previousLoad}" class="text-right">Load(KW)</td>
										<td th:text="${st.load}" class="text-right">Load(KW)</td>
										<td th:text="${st.phase.displayName}">Phase</td>
										<td th:text="${st.tariffCategory.displayName}">Tariff
											Category</td>
										<td th:text="${st.tariffInformation.tariff}">Tariff</td>
									</tr>
									<tr class="shipon">
										<nav th:include="ncloadrecommendation/connection-detail-information"></nav>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalAppliedLoad" class="val-required">Total
							Applied Load (KW)</label> <input type="text" th:id="totalAppliedLoad"
							th:name="totalAppliedLoad" th:value="${totalAppliedLoad}"
							readonly required class="form-control" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalSanctionedLoad" class="val-required">Total
							Recommended Load (KW)</label> <input type="text"
							th:id="totalSanctionedLoad" th:name="totalSanctionedLoad"
							th:value="${totalSanctionedLoadW}" readonly required
							class="form-control" />
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
